<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ebook list</title>
    <link href="../assets/dist/css/requirementList.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id="mainTitle" class="mainTitle">
      <div class="lang-wrap">
        <img class="icon-star" src="../assets/brand/icon/language.svg">
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div class="container">
      <div class="logo-frame">
        <img class="logo" src="../assets/brand/eBooks_Logo.png" alt="">
      </div>
      <section id="ebookListField" class="ebooklist-field">
        <div class="button-wrap">
          <button class="csv" @click="generateReport()">{{$t('message.button_exportCsv')}}</button>
          <button class="delete" @click="callDialogueDeleteEbooks()">{{$t('message.button_delete')}}</button>
        </div>
        <div class="grid">
          <div class="head header">
            <div class="row">
              <div class="checkbox">#</div>
              <div class="title">{{$t('message.applying_ebookInfo_bookTitle')}}</div>
              <div class="isbn">{{$t('message.applying_ebookInfo_isbn')}}</div>
              <div class="apply-user-name">{{$t('message.applying_userInfo_yourName')}}</div>
              <div class="apply-date">{{$t('message.requirement_applyDate')}}</div>
            </div>
          </div>
        </div>
        <div class="grid" v-for="(ebook, index) in ebookList">
          <div class="head">
            <div class="row">
              <div class="checkbox">
                <input type="checkbox" :value="ebook.uuid" v-model="checkedItems" />
              </div>
              <div class="title" @click="toggle(ebook)">{{ebook.purchaseInfo.title}}</div>
              <div class="isbn">{{ebook.purchaseInfo.isbn}}</div>
              <div class="apply-user-name">{{ebook.userInfo.name}}</div>
              <div class="apply-date">{{ebook.applyDateTime}}</div>
            </div>
          </div>
          <div class="content" :class="[ebook.activate === true ? 'activate': '']">
            <div class="row">
              <div class="material">
                <div class="title">
                  {{$t('message.applying_ebookInfo_publisher')}}:
                </div>
                <div class="content-value">
                  {{ebook.purchaseInfo.publisher}}
                </div>
              </div>
              <div class="material">
                <div class="title">
                  {{$t('message.applying_ebookInfo_publishDate')}}:
                </div>
                <div class="content-value">
                  {{ebook.purchaseInfo.date}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="material">
                <div class="title">
                  {{$t('message.applying_ebookInfo_publishDate')}}:
                </div>
                <div class="content-value">
                  <label class="link" @click="linkToDDA(ebook.an, ebook.dbCode)">
                    <img class="icon-star" src="../assets/brand/icon/link.svg">{{$t('message.requirement_link')}}
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="material">
                <div class="title">
                  {{$t('message.applying_userInfo_bussinessUnit')}}:
                </div>
                <div class="content-value">
                  {{ebook.userInfo.userNumber}}
                </div>
              </div>
              <div class="material">
                <div class="title">
                  {{$t('message.applying_userInfo_phone')}}:
                </div>
                <div class="content-value">
                  {{ebook.userInfo.phone}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="material">
                <div class="title">
                  {{$t('message.applying_userInfo_email')}}:
                </div>
                <div class="content-value">
                  {{ebook.userInfo.email}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="material">
                <div class="title">
                  {{$t('message.applying_userInfo_capacity')}}:
                </div>
                <div class="content-value">
                  {{ebook.userInfo.userIdentity}}
                </div>
              </div>
              <div class="material">
                <div class="title">
                  {{$t('message.applying_userInfo_faculty')}}:
                </div>
                <div class="content-value">
                  {{ebook.userInfo.faculty}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="material">
                <div class="title">
                  {{$t('message.applying_ebookInfo_comment')}}:
                </div>
                <div class="content-value">
                  {{ebook.note}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="dialogue" class="mask" v-if="show" :class="{ show: show }">
      <!-- <div class="cover" @click="closeDialogue"></div> -->
      <div class="dialogue-message-frame" v-if="type === 'delete'">
        <div class="dialogue-head">
          <h4>{{$t('message.dialogue_info')}}</h4>
        </div>
        <div class="dialogue-body">
          {{$t('message.dialogue_deleteInfo')}}?
          <div class="btn-frame">
            <button @click="deleteEbooks()">{{$t('message.button_confirm')}}</button>
            <button @click="close('dialogue')">{{$t('message.button_close')}}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../assets/dist/js/verifyAuth.js?v=1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="../assets/dist/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="../lang/lang.js"></script>
  <script type="text/javascript">
    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: '',
        show: true
      },
      created: function() {
      },
      mounted: function() {
        this.selector_lang = i18n.locale;
      },
      methods: {
        async setLang(event) {
          i18n.locale = event.target.value;
        }
      }
    })

    var dialogue = new Vue({
      el:'#dialogue',
      i18n,
      data: {
        show: false,
        type: ''
      },
      methods:{
        deleteEbooks() {
          ebookListField.deleteEbooks();
        },
        setDialogue: function(type = '') {
          this.type = type;
          this.show = true;
        },
        close: function(type) {
          if(type === 'dialogue') {
            this.show = false;
          } else if(type === 'window'){
            window.close();
          }
        }
      }
    });
    var ebookListField = new Vue({
      el:'#ebookListField',
      i18n,
      data: {
        ebookList: [
          {
            applyDateTime: "",
            note: "",
            purchaseInfo: {
              isbn: "",
              title: "",
              publisher: "",
              date: ""
            },
            userInfo: {
              email: "",
              faculty: "",
              name: "",
              phone: "",
              userIdentity: "",
              userNumber: "",
            },
            uuid: '',
            an: '',
            dbCode: ''
          }
        ],
        checkedItems: [],
        linkBasicUrl: 'https://search.ebscohost.com/login.aspx?direct=true&lang=zh-cn&site=eds-live&authtype=uid&profile=eds-dda&user=aiib2020&password=Lib_2020'
      },
      created: function() {
        this.buildEbookList();
      },
      methods:{
        buildEbookList() {
          let self = this;
          $.ajax({
            url: 'https://gss.ebscohost.com/chchang/resource/ns265393/ebookRecommendation/features/getEbookRequirementList.php',
            type: 'GET',
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              // self.ebookList = res;
              let temp = res;
              for(let index in temp) {
                temp[index]['activate'] = false;
              }
              self.ebookList = temp;
            }
          });
        },
        callDialogueDeleteEbooks() {
          dialogue.setDialogue('delete');
        },
        deleteEbooks() {
          let self = this;
          $.ajax({
            url: 'https://gss.ebscohost.com/chchang/resource/ns265393/ebookRecommendation/features/processEbookRequirement.php',
            type: 'POST',
            data: {
              type: 'delete',
              list: JSON.stringify(self.checkedItems)
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              if(res.status === 'success') {
                self.buildEbookList();
                dialogue.close('dialogue');
              }
            }
          });
        },
        generateReport() {
          const metadata = ['书名', 'ISBN', '出版社', '出版日期', '申请人姓名', '申请日期', '学号/工号', '电话号码', 'Email', '身份信息', '单位/学院', '书本详细', '备注信息'];
          let prefix = 'data:text/csv;charset=utf-8,';
          let string_metadata = ""; // first cell empty
          let string_content = "";
          let universalBOM = "\uFEFF";

          let now = new Date();

          let fileName = `${now.getFullYear()}-${now.getMonth()+1}-${now.getDate()} Report`;

          // create data array and metadata.
          metadata.forEach((val, index) => {
            if(index === 0) {
              string_metadata = `${val}`;
            } else {
              string_metadata = `${string_metadata},${val}`;
            }            
          });
          string_metadata = `${string_metadata}\n`;

          // create content
          this.ebookList.forEach(val => {
            let link = `${this.linkBasicUrl}&db=${val.dbCode}&AN=${val.an}`;
            string_content = `${string_content}"${val.purchaseInfo.title}",${val.purchaseInfo.isbn},"${val.purchaseInfo.publisher}",${val.purchaseInfo.date},"${val.userInfo.name}",${val.applyDateTime},"${val.userInfo.userNumber}","${val.userInfo.phone}","${val.userInfo.email}","${val.userInfo.userIdentity}","${val.userInfo.faculty}",${link},"${val.note}"\n`;
          });
          
          const csv = `${string_metadata}${string_content}`;

          // create hidden anchor and click it
          let hiddenElement = document.createElement('a');
          hiddenElement.href = prefix + encodeURIComponent(universalBOM+csv);
          hiddenElement.target = '_blank';
          hiddenElement.download = `${fileName}.csv`;
          hiddenElement.click();
        },
        linkToDDA(an, dbCode) {
          const link = `${this.linkBasicUrl}&db=${dbCode}&AN=${an}`;
          window.open(link, '_blank');
        },
        toggle(obj) {
          obj.activate = !obj.activate;
        }
      }
    });
  </script>
</html>