<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../lib/css/admin_index.css"/>
  </head>
<body>
  <div class="app-content">
    <div id="loginForm" class="login-frame">
      <h2 class="logo">
        Account and Password Generator
      </h2>
      <div class="row">
        <div class="title">Account</div>
        <div class="content">
          <input type="text" v-model="user.account">
        </div>
      </div>
      <div class="row">
        <div class="title">Password</div>
        <div class="content">
          <input type="password" v-model="user.password">
        </div>
      </div>
      <div class="btn-wrap">
        <button @click="getPwd">Submit</button>
      </div>
      <div>The password result is: {{responsePwd}}</div>
    </div>
  </div>
  <script src="../lib/js/basicParameters.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="../lib/js/jquery.js"></script>
  <script type="text/javascript">
    var loginForm = new Vue({
      el:'#loginForm',
      data: {
        user: {
          account: '',
          password: ''
        },
        errorCode: {
          show: false,
          type: ''
        },
        verifyCodeInput: '',
        imageData: '',
        codeText : '',
        responsePwd: ''
      },
      mounted() {
      },
      methods:{
        getPwd() {
          this.responsePwd = '';
          let self = this;

          $.ajax({
            url: `${apiPath}/passwordGenerator.php`,
            xhrFields: {
              withCredentials: true
            },
            type: 'POST',
            data: {
              user: JSON.stringify(self.user)
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              self.responsePwd = res.data;
            }
          });
        },
        showLoginError(type) {
          let self = this;
          this.errorCode.show = true;
          this.errorCode.type = type;
          setTimeout(function(){
            self.errorCode.show = false;
            self.errorCode.type = '';
          }, 3000);
        }
      }
    });
  </script>
</body>
</html>