<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carousel Generator</title>
  <link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<style>
</style>
<body>
  <div id="generateCarousel">
    <h1>Carousel Generator</h1>
    <section>
      <h2>Step 1: Create Slide Content</h2>
      <div class="upload-csv-wrap">
        <a href="http://gss.ebscohost.com/chchang/ServerConnect/carousel_generator/carousel_template.csv">Download Template</a>
        <label class="upload-csv">
          Upload CSV
          <input type="file" accept=".csv" @change="onFileChange">
        </label>
      </div>
      <div v-for="(ebook, index) in ebookList">
        <div class="ebook-wrap">
          <h3>{{index+1}}.</h3>
          <div class="row">
            <div class="title">Title:</div>
            <input type="text" v-model="ebook.title">
          </div>
          <div class="row">
            <div class="title">Img Url:</div>
            <input type="text" v-model="ebook.imgUrl">
          </div>
          <div class="row">
            <div class="title">Link Url:</div>
            <input type="text" v-model="ebook.linkUrl">
          </div>
          <div class="row">
            <div class="title">Upload to imgur</div>
            <label class="upload-to-imgur">
              Upload to Imgur
              <input type="file" accept=".png,.jpg,.gif" @change="uploadToImgur($event, ebook)">
            </lable>
          </div>
          <label class="remove-ebook" @click="removeItem(ebook)">
            <img src="img/cancel.svg" alt="Remove this item block">
          </label>
        </div>
      </div>
      <div class="button-frame">
        <button @click="genNewEbookInList()">
          <img src="img/add.svg" alt="Add New ebook block">
          Add New block
        </button>
      </div>
    </section>
    <section>
      <h2>Step 2: Set the carousel configuration</h2>
      <div class="configuration-wrap">
        <div class="row">
          <div class="title">Dots(Pagination):</div>
          <div class="content-frame">
            <label class="switch">
              <input type="checkbox" v-model="configuration.dots" :selected="configuration.dots">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="title">Slides To Show:</div>
          <div class="content-frame">
            <input type="number" name="delete_at_post" min="1" max="10" v-model.number="configuration.slidesToShow" :selected="configuration.slidesToShow">
          </div>
        </div>
        <div class="row">
          <div class="title">Infinite:</div>
          <div class="content-frame">
            <label class="switch">
              <input type="checkbox" v-model="configuration.infinite" :selected="configuration.infinite">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="title">Slides To Scroll:</div>
          <div class="content-frame">
            <input type="number" name="delete_at_post" min="1" max="10" v-model.number="configuration.slidesToScroll">
          </div>
        </div>
        <div class="row">
          <div class="title">Swipe To Slide:</div>
          <div class="content-frame">
            <label class="switch">
              <input type="checkbox" checked="true" v-model="configuration.swipeToSlide" :selected="configuration.swipeToSlide">
              <div class="slider round"></div>
            </label>
          </div>
        </div>
        <div class="setting-frame">
          <div class="title">Responsive:</div>
          <div class="content-frame">
            <div v-if="configuration.responsive.length !== 0" v-for="(responsiveBlk, index) in configuration.responsive">
              <div class="break-frame">
                <h3>{{index+1}}.</h3>
                <div class="row">
                  <div class="title">Break Point (Screen size less than this pixel):</div>
                  <div class="content-frame">
                    <!-- <input type="number" name="delete_at_post" min="1" v-model.number="responsiveBlk.breakpoint"> -->
                    <select v-model.number="responsiveBlk.breakpoint">
                      <option>1081</option>
                      <option>961</option>
                      <option>721</option>
                      <option>601</option>
                      <option>481</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="title">Dots(Pagination):</div>
                  <div class="content-frame">
                    <label class="switch">
                      <input type="checkbox" v-model="responsiveBlk.settings.dots" :selected="responsiveBlk.settings.dots">
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="title">Slides To Show:</div>
                  <div class="content-frame">
                    <input type="number" name="delete_at_post" min="1" max="10" v-model.number="responsiveBlk.settings.slidesToShow" :selected="responsiveBlk.settings.slidesToShow">
                  </div>
                </div>
                <div class="row">
                  <div class="title">Infinite:</div>
                  <div class="content-frame">
                    <label class="switch">
                      <input type="checkbox" v-model="responsiveBlk.settings.infinite" :selected="responsiveBlk.settings.infinite">
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="title">Slides To Scroll:</div>
                  <div class="content-frame">
                    <input type="number" name="delete_at_post" min="1" max="10" v-model.number="responsiveBlk.settings.slidesToScroll">
                  </div>
                </div>
                <label class="remove-ebook" @click="removeBreakPoint(responsiveBlk)">
                  <img src="img/cancel.svg" alt="Remove this item block">
                </label>
              </div>
            </div>
          </div>
          <div class="button-frame">
            <button @click="genBreakPoint()">
              <img src="img/add.svg" alt="Add New Break Point">
              Add New Break Point
            </button>
          </div>
        </div>
      </div>
    </section>
    <form id="hiddenForm" action="http://gss.ebscohost.com/chchang/ServerConnect/carousel_generator/preview.php" method="post" target="newWin"  style="display: none;">
      <input type="text" name="code" v-model="temp" />
    </form>
    <section>
      <h2>Step 3: Generate the carousel code</h2>
      <div class="preview-wrap">
        <button @click="openPreview()">
          Preview in full
        </button>
        <button v-if="configuration.responsive.length !== 0" v-for="(btn, index) in configuration.responsive" @click="openPreview(btn.breakpoint-1)">
          Preview in {{btn.breakpoint-1}} pixel
        </button>
      </div>
      <div class="generateWrap">
        <textarea class="genField" placeholder="Please click the Generate button to generate the carousel code">{{carouselCode}}</textarea>
        <div class="button-frame">
          <button @click="genCode()">Generate</button>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"/></script>
  <script src="js/base64.js"></script>
  <script type="text/javascript">
    new Vue({
      el:'#generateCarousel',
      data: {
        ebookList: [],
        carouselCode: '',
        configuration: {
          'dots': true,
          'slidesToShow': 1,
          'infinite': true,
          'slidesToScroll': 1,
          'swipeToSlide': false,
          'responsive': []
        },
        temp: ''
      },
      beforeMount: function() {
        // add one book in booklist
        this.genNewEbookInList();
      },
      methods:{
        uploadToImgur(e, ebook) {
          let imgFile = e.target.files || e.dataTransfer.files;
          if (!imgFile.length) {
            return;
          } else {
            // call imgur api and fill the response in the data

            // let xhr = new XMLHttpRequest();
            // xhr.onreadystatechange = function() {
            //   if (this.readyState == 4 && this.status == 200) {
            //     console.log(this.response);
            //   }
            // };
            // xhr.open("POST", 'https://api.imgur.com/3/image', true);
            // xhr.setRequestHeader('headers', {'Authorization': 'Client-ID 61c349606bd5d8a'});
            // xhr.send(imgFile[0]);
            const formData = new FormData();
            formData.append('image', imgFile[0]);

            fetch('https://api.imgur.com/3/image', {
              method: 'POST',
              headers: new Headers({
                Authorization: 'Client-ID 61c349606bd5d8a'
              }),
              body: formData
            }).then(response => {
              console.log(response);
              if (response.ok) {
                alert('Image uploaded to album');       
              }
            }).catch(error => {
              console.error(JSON.stringify(error));
              alert('Upload failed: ' + error);
            });

            // $.ajax({
            //   url: "https://api.imgur.com/3/image",
            //   headers: {
            //     'Authorization': 'Client-ID 61c349606bd5d8a'
            //   },
            //   data: {
            //     "image": vm.imgFile[0]
            //   },
            //   type: "POST",
            //   success: function(result) {
            //     console.log(result);
            //       // var link = result.data.link;
            //       // imgurCanvas.location = link;
            //   },
            //   error: function(result) {
            //     console.log(result);
            //   }
            // });
          }
        },
        onFileChange(e) {
          let csvFile = e.target.files || e.dataTransfer.files;
          if (!csvFile.length)
            return;
          this.getCsvData(csvFile[0]);
        },
        getCsvData: function(file) {
          let reader = new FileReader();
          let vm = this;

          reader.onload = (e) => {
            const rawData = e.target.result;
            vm.dealCsvDataAndPush(rawData);
          };

          reader.readAsBinaryString(file);
        },
        dealCsvDataAndPush(rawData) {
          const dataList = rawData.split("\n");
          this.ebookList.pop();
          for(let loop = 1; loop < dataList.length; loop++) {
            const blockData = dataList[loop].split(",");
            const ebook = new Object();
            ebook.title = blockData[0];
            ebook.imgUrl = blockData[1];
            ebook.linkUrl = blockData[2];
            this.ebookList.push(ebook);
          }
        },
        openPreview: function(frameWidth='default') {
          console.log(frameWidth)
          let tempCode = `<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>\n<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>\n<link rel="stylesheet" type="text/css" href="http://gss.ebscohost.com/chchang/ServerConnect/carouselQuery/lib/css/index.css"/>\n<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"/><\/script>\n<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"/><\/script>\n`+ this.getEbookCarousel() + this.genScript();
          this.temp = base64.encode(tempCode);
          window.setTimeout(( () => {
            if(frameWidth === 'default') {
              window.open('','newWin', "width="+screen.availWidth+",height="+screen.availHeight);
              let formDom = document.getElementById("hiddenForm");
              formDom.submit();
            } else {
              window.open('','newWin',`width=${frameWidth}, height=400`);
              let formDom = document.getElementById("hiddenForm");
              formDom.submit();
            }
          }), 1000);
          // let previewOpen = window.open("", "previewOpen", `width=${frameWidth}, height=600`);
          // console.log(this.carouselCode);
          // previewOpen.document.body.innerHTML = this.carouselCode;
        },
        genCode: function() {
          // cleare textarea
          const commentStart = '<!-- start carousel -->\n';
          const commentEnd = '\n<!-- end carousel -->';
          this.carouselCode = commentStart;

          // append css and js library
          this.carouselCode =  this.carouselCode + `<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>\n<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>\n<link rel="stylesheet" type="text/css" href="http://gss.ebscohost.com/chchang/ServerConnect/carouselQuery/lib/css/index.css"/>\n<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"/><\/script>\n<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"/><\/script>\n`;

          // generate carousel and append it
          this.carouselCode = this.carouselCode + this.getEbookCarousel();

          // generate script
          this.carouselCode = this.carouselCode + this.genScript();

          this.carouselCode = this.carouselCode + commentEnd;
        },
        genScript: function() {
          return `
<script type="text/javascript">
$(".regular").slick(${JSON.stringify(this.configuration).replace(/"/g, '\'')});
<\/script>`;
        },
        genBreakPoint: function() {
          const breakPointObj = new Object();
          breakPointObj.breakpoint = 1081;
          breakPointObj.settings = {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          };
          this.configuration.responsive.push(breakPointObj);
          console.log(this.configuration.responsive);
        },
        genNewEbookInList: function() {
          const ebook = new Object();
          ebook.title = '';
          ebook.imgUrl = '';
          ebook.linkUrl = '';
          this.ebookList.push(ebook);
        },
        getEbookCarousel: function() {
          const prefix = `<section id="ebook" class="regular slider">\n`;
          const suffix = `</section>`;
          let content = '';
          this.ebookList.forEach( ebook => {
            content = content + `<div class="ebook-wrap"><a href="${ebook.linkUrl}"><div class="image-frame"><img src="${ebook.imgUrl}"></div><h2>${ebook.title}</h2></a></div>\n`;
          });

          return prefix + content + suffix;
        },
        removeItem: function(item) {
          // console.log(this.ebookList.indexOf(item));
          this.ebookList.splice(this.ebookList.indexOf(item), 1);
        },
        removeBreakPoint: function(item) {
          this.configuration.responsive.splice(this.configuration.responsive.indexOf(item), 1);
        }
      }
    });
  </script>
</body>
</html>