<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>資料庫</title>
    <!-- <link rel="stylesheet" type="text/css" href="lib/style.css"/> -->
  </head>
<body>
  <div id="listField">
    <h1>Database List</h1>
    <div v-for="(database, index) in databaseList" class="resource-wrap">
      <h3>{{database.resourceName}}</h3>
      <div class="row">
        <div class="title">資源連結</div>
        <div class="content">{{database.url}}</div>
      </div>
      <div class="row">
        <div class="title">試用/免費註記</div>
        <div class="content">{{database.resourceType}}</div>
      </div>
      <div class="row">
        <div class="title">起訂日期</div>
        <div class="content">{{database.startDate}}</div>
      </div>
      <div class="row">
        <div class="title">迄訂日期</div>
        <div class="content">{{database.expireDate}}</div>
      </div>
      <div class="row">
        <div class="title">適用學院</div>
        <div class="content">{{database.faculty}}</div>
      </div>
      <div class="row">
        <div class="title">主題</div>
        <div class="content">{{database.subject}}</div>
      </div>
      <div class="row">
        <div class="title">分類</div>
        <div class="content">{{database.category}}</div>
      </div>
      <div class="row">
        <div class="title">類型</div>
        <div class="content">{{database.type}}</div>
      </div>
      <div class="row">
        <div class="title">資料庫代理商/出版商</div>
        <div class="content">{{database.publisher}}</div>
      </div>
      <div class="row">
        <div class="title">語言</div>
        <div class="content">{{database.language}}</div>
      </div>
      <div class="row">
        <div class="title">資源簡述(摘要)</div>
        <div class="content">{{database.resourceDescribe}}</div>
      </div>
      <div class="row">
        <div class="title">相關URL</div>
        <div class="content">
          <a href="database.relevanceUrl" v-if="database.relevanceUrlDescribe !== ''">
            {{database.relevanceUrlDescribe}}
          </a>
          <div v-else>
            N/A
          </div>
        </div>
      </div>
      <div class="row">
        <div class="title">test</div>
        <div class="content">
          <button @click="modifyResource(database)">修改</button>
          <button @click="deleteResource">刪除</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mask" id="modifyForm" v-if="show">
    <div class="dialogue-frame">
      <div class="dialogue-content">
        <div class="row">
          <div class="title">資源名稱</div>
          <div class="content"></div>
        </div>
        <div class="row">
          <div class="title">試用/免費註記</div>
          <div class="content" id="detail_resourceType"></div>
        </div>
        <div class="row">
          <div class="title">起訂日期</div>
          <div class="content">
            <input id="date" type="date" v-model="resource.startDate">
          </div>
        </div>
        <div class="row">
          <div class="title">迄訂日期</div>
          <div class="content">
            <input id="date" type="date" v-model="resource.expireDate">
          </div>
        </div>
        <div class="row">
          <div class="title">適用學院</div>
          <div class="content" id="detail_faculty"></div>
        </div>
        <div class="row">
          <div class="title">主題</div>
          <div class="content" id="detail_subject"></div>
        </div>
        <div class="row">
          <div class="title">分類</div>
          <div class="content" id="detail_category"></div>
        </div>
        <div class="row">
          <div class="title">類型</div>
          <div class="content" id="detail_type"></div>
        </div>
        <div class="row">
          <div class="title">資料庫代理商/出版商</div>
          <div class="content" id="detail_publisher"></div>
        </div>
        <div class="row">
          <div class="title">語言</div>
          <div class="content" id="detail_language"></div>
        </div>
        <div class="row">
          <div class="title">資源簡述(摘要)</div>
          <div class="content" id="detail_resourceDescribe"></div>
        </div>
        <div class="row">
          <div class="title">相關URL</div>
          <div class="content" id="detail_relevanceUrlDescribe"></div>
        </div>
      </div>
      <div class="btn-frame">
        <button @click="closeForm">關閉</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="lib/jquery.js"></script>
  <script type="text/javascript">
    var dataList = new Vue({
      el:'#listField',
      data: {
        databaseList: [],
      },
      created: function() {
        this.getDatabaseList();
      },
      methods:{
        getDatabaseList: function() {
          let self = this;
          $.ajax({
            url: 'http://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getList.php',
            type: 'GET',
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              self.databaseList = res.rows;
            }
          });
        },
        modifyResource: function(database) {
          modifyForm.setDisplayForm('modify',database);
        },
        addResource: function() {
            // $.ajax({
            //   url: 'https://gss.ebscohost.com/chchang/ServerConnect/huiwen/add.php',
            //   type: 'POST',
            //   data: {
            //     sid: this.sid,
            //     appKey: this.appKey,
            //     appID: this.appID,
            //     connectUrl: this.connectUrl + '/api/itemgo.php'
            //   },
            //   error: function(jqXHR, exception) {
            //     //use url variable here
            //     console.log(jqXHR);
            //     console.log(exception);
            //   },
            //   success: function(res) {
            //     if(res.result) {
            //       self.result = res.msg;
            //     } else {
            //       self.result = res.msg;
            //     }
            //   }
            // });
        },
        deleteResource: function() {
            // $.ajax({
            //   url: 'https://gss.ebscohost.com/chchang/ServerConnect/huiwen/add.php',
            //   type: 'POST',
            //   data: {
            //     sid: this.sid,
            //     appKey: this.appKey,
            //     appID: this.appID,
            //     connectUrl: this.connectUrl + '/api/itemgo.php'
            //   },
            //   error: function(jqXHR, exception) {
            //     //use url variable here
            //     console.log(jqXHR);
            //     console.log(exception);
            //   },
            //   success: function(res) {
            //     if(res.result) {
            //       self.result = res.msg;
            //     } else {
            //       self.result = res.msg;
            //     }
            //   }
            // });
        }
      }
    });
    var modifyForm = new Vue({
      el:'#modifyForm',
      data: {
        show: false,
        sendType: '',
        resource: ''
      },
      methods:{
        setDisplayForm: function(type, database) {
          // replace the slash if the time formate have
          database.startDate.replace(/\//g, '-');
          database.expireDate.replace(/\//g, '-');
          console.log(database);
          this.show = true;
          this.sendType = type
          this.resource = database;
        },
        closeForm: function() {
          this.show = false;
        }
      }
    });
  </script>
  <style>
    h3 {
      color: #0000ff;
    }
    h4 {
      color: #ff0000;
    }
    input[type="text"] {
      width: 300px;
      height: 30px;
      border-radius: 10px;
      border: 2px solid #cccccc;
    }
    input:focus, textarea:focus, select:focus, button {
      outline: none;
    }
    button {
      width: 80px;
      height: 30px;
      border-radius: 10px;
      background-color: #4e73df;
      color: #ffffff;
    }
    .row {
      padding: 5px 0px;
      display: flex;
      align-items: center;
    }
    .row > .title {
      width: 250px;
    }
    .row > .msg {
      width: 470px;
    }
  </style>
</body>
</html>