<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>最新消息</title>
    <link rel="stylesheet" type="text/css" href="lib/allLatestNews.css"/>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="logo">
        <img src="img/logo.png" alt="EBSCO" title="EBSCO"/>
      </div>
      <nav>
        <label for="mobile_btn" class="mobile-btn-frame">
          <img src="img/dehaze.svg"/>
        </label>
        <input type="checkbox" id="mobile_btn">
        <ul class="nav-list">
          <li>
            <a href="#" class="nav-tag">link 1</a>
          </li>
          <li class="multi">
            <label class="nav-tag" for="tag1">link 2</label>
            <input type="checkbox" id="tag1">
            <ul>
              <li>
                <a href="#">link 2-1</a>
              </li>
              <li>
                <a href="#">link 2-2</a>
              </li>
              <li>
                <a href="#">link 2-3</a>
              </li>
              <li>
                <a href="#">link 2-4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-tag">link 3</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="app-content">
      <section id="mainTitle" class="mainTitle">
        <h1 v-text="$t('message.h1_resource_list')"></h1>
        <div class="lang-wrap">
          <div>{{$t('message.chooseLanguage')}}:</div>
          <select v-model="selector_lang" @change="setLang($event)">
            <option value="en">English</option>
            <option value="tw">中文</option>
          </select>
        </div>
      </section>
      <section class="accordion arrows" id="latestNews">
        <div class="box title">
          <label v-if="lang === 'en'" for="acc-close" class="box-title">{{bulletinTitle.en}}</label>
          <label v-else-if="lang === 'tw'" for="acc-close" class="box-title">{{bulletinTitle.tw}}</label>
        </div>
        <div v-if="lang === 'en'">
          <div v-for="(latestNews, index) in latestNewsList.en">
            <input type="radio" name="accordion" v-bind:id="latestNews.uuid" />
            <section class="box">
              <label class="box-title" :for="latestNews.uuid">{{latestNews.title}}</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content" v-html="latestNews.content"></div>
            </section>
          </div>
        </div>
        <div v-else-if="lang === 'tw'">
          <div v-for="(latestNews, index) in latestNewsList.tw">
            <input type="radio" name="accordion" v-bind:id="latestNews.uuid" />
            <section class="box">
              <label class="box-title" :for="latestNews.uuid">{{latestNews.title}}</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content" v-html="latestNews.content"></div>
            </section>
          </div>
        </div>
        <input type="radio" name="accordion" id="acc-close" />
      </section>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="lang/lang.js"></script>
  <script src="lib/jquery.js"></script>
  <script type="text/javascript">
    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: ''
      },
      mounted: function() {
        this.selector_lang = i18n.locale;
      },
      methods: {
        setLang(event) {
          i18n.locale = event.target.value;
          localStorage.setItem('lang', event.target.value);
          latestNews.setLocale(event.target.value);
        }
      }
    })

    var latestNews = new Vue({
      el:'#latestNews',
      i18n,
      data: {
        lang: '',
        bulletinTitle: {
          'en': '',
          'tw': ''
        },
        latestNewsList: {
          'en': [],
          'tw': []
        }
      },
      created: function() {
        let self = this;
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getLatestNews.php',
          type: 'GET',
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            self.bulletinTitle.en = res.en.bulletinTitle;
            self.bulletinTitle.tw = res.tw.bulletinTitle;
            self.latestNewsList.en = res.en.newsList.slice().sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
            self.latestNewsList.tw = res.tw.newsList.slice().sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
            // self.latestNewsList = res.newsList.slice().sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
          }
        });
      },
      computed: {
        // latestNewsListData: {
        //   get: function () {
        //     return this.latestNewsList.slice().sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
        //   }
        // }
      },
      mounted: function() {
        if("lang" in localStorage) {
          this.lang = localStorage.getItem('lang');
        } else {
          this.lang = 'tw';
        }
      },
      methods:{
        setLocale: function(language) {
          this.lang = language;
          console.log(this.lang);
        },
        closeDialogue: function() {
          this.show = false;
        },
        showContent: function(latestNews) {
          let message = {
            'title': latestNews.title,
            'content': latestNews.content
          }
          dialogue.setDialogue('latestNews', message);
        }
      }
    });
  </script>
</html>