<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>資源管理系統</title>
    <link rel="stylesheet" type="text/css" href="lib/css/authLogin.css"/>
  </head>
<body>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div id="loginForm" class="login-frame">
      <div class="logo">
        <img src="img/logo_back.svg" alt="EBSCO" title="EBSCO"/>
      </div>
      <div class="subject">請選擇您的身份</div>
      <div class="row" v-if="option_departmentData.length !== 0">
        <div v-for="level1_item in option_departmentData">
          {{level1_item}}
          <!-- <div v-if="lavel1_item.child.length === 0">
            <input type="radio" v-model="authen.department" :value="lavel1_item.value">
          </div>
          <div v-else>
            <div v-for="(level2_item, lavel2_index) in level1_item.child">
              <div v-if="level2_item.child.length === 0">
                <input type="radio" v-model="authen.department" :value="level2_item.value">
              </div>
              <div v-else>
                <div v-for="(level3_item, lavel3_index) in level2_item.child">
                  <input type="radio" v-model="authen.department" :value="level3_item.value">
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="title">身份</div>
        <div class="content">
          <div class="select-frame">
            <select v-model="authen.identity">
              <option value="">請選擇</option>
              <option value="13">行政人員</option>
              <option value="16">其他</option>
              <option value="14">研究助理</option>
              <option value="38">校友</option>
              <option value="15">校外人士</option>
              <option value="teacher">教師</option>
              <option value="student">學生</option>
            </select>
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button @click="logIn">{{$t('message.btn_login')}}</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="lang/lang.js"></script>
  <script src="lib/js/jquery.js"></script>
  <script src="lib/js/verifyCode/canvas-verification-code.js"></script>
  <script type="text/javascript">
    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: ''
      },
      mounted: function() {
        this.selector_lang = i18n.locale;
      },
      methods: {
        setLang(event) {
          i18n.locale = event.target.value;
          localStorage.setItem('lang', event.target.value);
        }
      }
    })
    var loginForm = new Vue({
      el:'#loginForm',
      i18n,
      data: {
        authen: {
          department: 0,
          identity: ''
        },
        option_departmentData: []
      },
      created: function() {
        let self = this;
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getAuthList.php',
          type: 'GET',
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            console.log(res);
            self.option_departmentData = res;
          }
        });
      },
      mounted() {

      },
      methods:{
        async changeOption1(event) {
          this.option2 = {
            value: '',
            options: []
          }
          this.option3 = {
            value: '',
            options: []
          }
          this.option1.options.forEach( option => {
            if(option.value === event.target.value) {
              if(option.child.length !== 0) {
                this.option2.options = JSON.parse(JSON.stringify(option.child));
              }
            }
          })
        },
        async changeOption2(event) {
          this.option3 = {
            value: '',
            options: []
          }
          this.option2.options.forEach( option => {
            if(option.value === event.target.value) {
              if(option.child.length !== 0) {
                this.option3.options = JSON.parse(JSON.stringify(option.child));
              }
            }
          })
        },
        logIn() {
          console.log('checkValue');
        }
      }
    });
  </script>
</body>
</html>
