<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>資源管理系統</title>
    <link rel="stylesheet" type="text/css" href="lib/css/authLogin.css"/>
  </head>
<body>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div id="loginForm" class="login-frame">
      <div class="logo">
        <img src="img/logo_back.svg" alt="EBSCO" title="EBSCO"/>
      </div>
      <div class="subject">請選擇您的身份</div>
      <div class="row">
        <div class="title">單位</div>
        <div class="content">
          <div class="select-frame">
            <select v-model="option1.value" @change="changeOption1($event)">
              <option value="">請選擇</option>
              <option v-for="option in option1.options" v-if="!option.hasOwnProperty('deleted')" :value="option.value">{{option.displayName}}
            </select>
          </div>
          <div class="select-frame" v-if="option2.options.length !== 0">
            <select v-model="option2.value" @change="changeOption2($event)">
              <option value="">請選擇</option>
              <option v-for="option in option2.options" v-if="!option.hasOwnProperty('deleted')" :value="option.value">{{option.displayName}}
            </select>
          </div>
          <div class="select-frame" v-if="option3.options.length !== 0">
            <select v-model="option3.value">
              <option value="">請選擇</option>
              <option v-for="option in option3.options" v-if="!option.hasOwnProperty('deleted')" :value="option.value">{{option.displayName}}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="title">身份</div>
        <div class="content">
          <div class="select-frame">
            <select v-model="identity">
              <option value="">請選擇</option>
              <option v-for="option_id in option_identityData" :value="option_id.value">{{option_id.displayName}}
            </select>
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button @click="logIn">{{$t('message.btn_login')}}</button>
      </div>
    </div>
  </div>
  <script src="lib/js/basicParameters.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="lang/lang.js"></script>
  <script src="lib/js/jquery.js"></script>
  <script src="lib/js/verifyCode/canvas-verification-code.js"></script>
  <script type="text/javascript">
    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: ''
      },
      mounted: function() {
        this.selector_lang = i18n.locale;
      },
      methods: {
        setLang(event) {
          i18n.locale = event.target.value;
          localStorage.setItem('lang', event.target.value);
        }
      }
    })
    var loginForm = new Vue({
      el:'#loginForm',
      i18n,
      data: {
        identity: '',
        option1: {
          value: '',
          options: []
        },
        option2: {
          value: '',
          options: []
        },
        option3: {
          value: '',
          options: []
        },
        option_departmentData: [],
        option_identityData: []
      },
      created: function() {
        let self = this;
        $.ajax({
          url: `${apiPath}/getAuthList.php`,
          type: 'GET',
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            self.addResult(response);
          }
        });
      },
      mounted() {

      },
      methods:{
        addResult(result) {
          this.option_departmentData = result.department;
          this.option_identityData = result.identity;
          this.option1.options = JSON.parse(JSON.stringify(result.department));
        },
        async changeOption1(event) {
          this.option2 = {
            value: '',
            options: []
          }
          this.option3 = {
            value: '',
            options: []
          }
          this.option1.options.forEach( option => {
            if(option.value === event.target.value) {
              if(option.child.length !== 0) {
                this.option2.options = JSON.parse(JSON.stringify(option.child));
              }
            }
          })
        },
        async changeOption2(event) {
          this.option3 = {
            value: '',
            options: []
          }
          this.option2.options.forEach( option => {
            if(option.value === event.target.value) {
              if(option.child.length !== 0) {
                this.option3.options = JSON.parse(JSON.stringify(option.child));
              }
            }
          })
        },
        async logIn() {
          let depID = '';
          let self = this;

          // check department
          if(this.option3.value !== '') {
            depID = this.option3.value;
          } else if(this.option2.value !== '' && this.option3.options.length === 0) {
            depID = this.option2.value;
          } else if(this.option1.value !== '' && this.option2.options.length === 0) {
            depID = this.option1.value;
          } else {
            alert('請完整選擇單位');
            return;
          }

          // check identity
          if(this.identity === '') {
            alert('請選擇身份');
            return;
          }

          let userInfo = {
            departmentID: depID,
            identity: this.identity
          }

          $.ajax({
            url: `${apiPath}/addIdentityInSession.php`,
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            data: {
              user: JSON.stringify(userInfo)
            },
            error: function(jqXHR, exception) {
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              if(res.status === 'success' && res.type === 'pass') {
                window.location.replace("index.php");
              }
            }
          });

        }
      }
    });
  </script>
</body>
</html>
