<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>博科網</title>
  <meta name=”description” content=”網頁說明” />
  <link rel="stylesheet" type="text/css" href="lib/css/landing.css"/>
</head>
<body>
  <header id="header">
    <div class="logo">
      <a href="index.php">
        <img src="img/logo.png" alt="EBSCO" title="EBSCO"/>
      </a>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="img/icon/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag" v-if="lang === 'en'">{{link.title.en}}</a>
            <a :href="link.link" class="nav-tag" v-else-if="lang === 'local'">{{link.title.local}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index" v-if="lang === 'en'">{{link.title.en}}</label>
            <label class="nav-tag" :for="'tag'+index" v-else-if="lang === 'local'">{{link.title.local}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link" v-if="lang === 'en'">{{childLink.title.en}}</a>
                <a :href="childLink.link" v-if="lang === 'local'">{{childLink.title.local}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <section class="search-field">
    <div class="search-warpper" id="searchField">
      <input class="radio" id="one" name="group" type="radio" checked>
      <input class="radio" id="two" name="group" type="radio">
      <input class="radio" id="three" name="group" type="radio">
    
      <div class="tabs">
        <label class="tab" id="one-tab" for="one">文章查詢</label>
        <label class="tab" id="two-tab" for="two">期刊查詢</label>
        <label class="tab" id="three-tab" for="three">資料庫查詢</label>
      </div>
    
      <div class="panels">
        <div class="panel" id="one-panel">
          <div class="panel-title">文章查詢</div>
          <div class="search-box-wrap">
            <select v-model="eds.prefix">
              <option value="" selected="selected">關鍵字</option>
              <option value="TI">標題</option>
              <option value="AU">作者</option>
              <option value="JN">期刊</option>
            </select>
            <input type="text" placeholder="請輸入文章標題" v-on:keyup.13="sendToEDS" v-model="eds.articleKeyword">
            <button @click="sendToEDS">
              <img src="img/icon/search.svg" alt="Search" title="Search"/>
            </button>
          </div>
        </div>
        <div class="panel" id="two-panel">
          <div class="search-box-wrap">
            <input type="text" placeholder="請輸入期刊標題" v-on:keyup.13="sendToPFI()" v-model="pfi.pfiKeyword">
            <button @click="sendToPFI()">
              <img src="img/icon/search.svg" alt="Search" title="Search"/>
            </button>
          </div>
          <div class="atoz-wrap">
            <button class="text-frame" @click="atozLink('number')">0-9</button>
            <button class="text-frame" @click="atozLink(alphabet)" v-for="(alphabet, index) in atoz">{{alphabet}}</button>
            <button class="text-frame" @click="atozLink('other')">Others</button>
          </div>
        </div>
        <div class="panel" id="three-panel">
          <div class="panel-title">資料庫查詢</div>
          <div class="search-box-wrap">
            <input type="text" placeholder="請輸入資源名稱" v-on:keyup.13="sendToResourcePage()" v-model="resourceKeyword">
            <button @click="sendToResourcePage()">
              <img src="img/icon/search.svg" alt="Search" title="Search"/>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="subject-field" id="subjectField">
    <h1>特色專題</h1>
    <div class="subjects">
      <figure class="subject-wrap">
        <div class="img-frame">
          <img src="img/subjects/elearning.png">
        </div>
        <figcaption>
          <h2>
            E - Learning
          </h2>
        </figcaption>
      </figure>
      <figure class="subject-wrap">
        <div class="img-frame">
          <img src="img/subjects/adaptive_learning.png">
        </div>
        <figcaption>
          <h2>
            自適應學習
          </h2>
        </figcaption>
      </figure>
      <figure class="subject-wrap">
        <div class="img-frame">
          <img src="img/subjects/peer_learning.png">
        </div>
        <figcaption>
          <h2>
            同儕學習
          </h2>
        </figcaption>
      </figure>
    </div>
  </section>
  <section class="article-field" id="articleField">
    <h1>文章推薦</h1>
    <div class="articles" v-if="articles.length !== 0">
      <div class="article-wrap" v-for="(article, id) in articles">
        <h2 v-html="article.articleTitle"></h2>
        <div class="row">
          <div class="title">作者:</div>
          <div class="content" v-html="article.articleAuthor"></div>
        </div>
        <div class="row">
          <div class="title">摘要:</div>
          <div class="content" v-html="article.articleAbstract" :class="{ hide: article.hide }"></div>
        </div>
        <div class="row">
          <div class="expand">
            <div class="expandText" v-if="article.hide === true" @click="expandArticle(article)">展開</div>
            <div class="expandText" v-else @click="expandArticle(article)">收起</div>
          </div>
        </div>
      </div>
      <!-- <div class="article-wrap">
        <h2>Lean principles, learning, and knowledge work: Evidence from a software services provider</h2>
        <div class="row">
          <div class="title">作者:</div>
          <div class="content">Staats, Bradley R. a, ⁎; Brunner, David James b, 1; Upton, David M. c, 2</div>
        </div>
        <div class="row">
          <div class="title">來源:</div>
          <div class="content">In Special Issue on Field Research in Operations and Supply Chain Management, Journal of Operations Management 2011 29(5):376-390</div>
        </div>
      </div>
      <div class="article-wrap">
        <h2>Quorum quenching enzyme activity is widely conserved in the sera of mammalian species</h2>
        <div class="row">
          <div class="title">作者:</div>
          <div class="content">Yang, Fan a, b; Wang, Lian-Hui a; Wang, Jing a; Dong, Yi-Hu a; Hu, Jiang Yong b; Zhang, Lian-Hui a, ⁎</div>
        </div>
        <div class="row">
          <div class="title">來源:</div>
          <div class="content">In FEBS Letters 2005 579(17):3713-3717</div>
        </div>
      </div> -->
    </div>
    <div class="article-wrap" v-else>
      <img src="img/icon/Spinner.svg" alt="loading">
    </div>
  </section>
  <section class="journal-field">
    <h1>期刊推薦</h1>
    <div id="ebook" class="ejournal slider">
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24108383%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2478385%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2478327%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24138581%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%241710%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24108051%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2481853%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
    </div>
    
    <!-- <div id="slider_journal">
      <div class="postarea">
        <div class="posts" :style="computedLeft">
          <div class="postbox" v-for="(work, id) in works" :class="{curItem: id == nowIndex}">
            <div class="cover" :style="coverUrl(work.cover)">
              <div class="infos">
                <h1>{{work.title}}</h1>
                <h5>{{work.description}}</h5>
              </div>
            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
      <div class="control_left" @click="delta(-1)">left<i class="fa fa-angle-left"></i></div>
      <div class="control_right" @click="delta(1)">right<i class="fa fa-angle-right"></i></div>
    </div> -->
  </section>
  <section class="ebook-field">
    <h1>電子書推薦</h1>
    <div id="ebook" class="ebook slider">
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24108383%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2478385%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2478327%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24138581%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%241710%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24108051%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2481853%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
    </div>
    
    <!-- <div id="slider_journal">
      <div class="postarea">
        <div class="posts" :style="computedLeft">
          <div class="postbox" v-for="(work, id) in works" :class="{curItem: id == nowIndex}">
            <div class="cover" :style="coverUrl(work.cover)">
              <div class="infos">
                <h1>{{work.title}}</h1>
                <h5>{{work.description}}</h5>
              </div>
            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
      <div class="control_left" @click="delta(-1)">left<i class="fa fa-angle-left"></i></div>
      <div class="control_right" @click="delta(1)">right<i class="fa fa-angle-right"></i></div>
    </div> -->
  </section>
  <section class="database-field" id="databaseField">
    <h1>資料庫推薦</h1>
    <div class="database-wrap">
      <div class="database" v-for="(database, index) in databases">
        <div class="card-wrap">
          <figure class="card" v-bind:class="{ back: database.rotate}">
            <div class="card-front">
              <div class="img-frame">
                <img :src="database.imgCoverPath" alt="Trulli" style="width:100%">
              </div>
              <figcaption>{{database.name.local}}</figcaption>
            </div>
            <div class="card-back">
              {{database.brief.local}}
            </div>
          </figure>
        </div>
        <div class="btn-wrap">
          <button @click="rotate(database)">簡介</button>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <img src="img/logo_white.svg">
    <p>© 2020 EBSCO Industries, Inc. All rights reserved</p>
  </footer>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js"></script>
<script src="lang/lang.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="lib/js/header_front.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  var searchField = new Vue({
    el:'#searchField',
    i18n,
    data: {
      eds: {
        prefix: '',
        articleKeyword: '',
      },
      pfi: {
        pfiKeyword: '',
      },      
      resourceKeyword: '',
      atoz: []
    },
    created: function() {
      // create atoz
      for(let loop = 0; loop < 26; loop++) {
        let alphabet = String.fromCharCode(65 + loop);
        this.atoz.push(alphabet);
      }
    },
    mounted: function() {
    },
    methods: {
      sendToEDS() {
        let bquery = '';

        if(this.eds.prefix !== '') {
          bquery = `${this.eds.prefix} ${this.eds.articleKeyword}`;
        } else {
          bquery = this.eds.articleKeyword;
        }
        
        window.open(`https://search.ebscohost.com/login.aspx?authtype=guest&custid=jaychang&groupid=main&profile=test_eds&bquery=${bquery}&direct=true`);
      },
      sendToPFI(query = '') {
        let bquery = query;
        if(query === '') {
          bquery = this.pfi.pfiKeyword;
        }

        window.open(`https://search.ebscohost.com/login.aspx?authtype=guest&custid=jaychang&groupid=main&profile=pfi&bquery=${bquery}&direct=true`);
      },
      sendToResourcePage() {
        window.open(`http://gss.ebscohost.com/chchang/ServerConnect/databaseList/index.php?keyword=${this.resourceKeyword}`);
      },
      atozLink(alphabet) {
        let alphabetQuery = '';
        if(alphabet === 'number') {
          alphabetQuery = 'JN+0*+OR+JN+1*+OR+JN+2*+OR+JN+3*+OR+JN+4*+OR+JN+5*+OR+JN+6*+OR+JN+7*+OR+JN+8*+OR+JN+9*';
        } else if(alphabet === 'other') {
          alphabetQuery = 'JN+*+NOT+(JN+A*+OR+JN+B*+OR+JN+C*+OR+JN+D*+OR+JN+E*+OR+JN+F*+OR+JN+G*+OR+JN+H*+OR+JN+I*+OR+JN+J*+OR+JN+K*+OR+JN+L*+OR+JN+M*+OR+JN+N*+OR+JN+O*+OR+JN+P*+OR+JN+Q*+OR+JN+R*+OR+JN+S*+OR+JN+T*+OR+JN+U*+OR+JN+V*+OR+JN+W*+OR+JN+X*+OR+JN+Y*+OR+JN+Z*+OR+JN+0*+OR+JN+1*+OR+JN+2*+OR+JN+3*+OR+JN+4*+OR+JN+5*+OR+JN+6*+OR+JN+7*+OR+JN+8*+OR+JN+9*)';
        } else {
          alphabetQuery = `JN+${alphabet}*+OR+JN+THE+${alphabet}*+OR+JN+DER+${alphabet}*+OR+JN+DIE+${alphabet}*+OR+JN+DAS+${alphabet}*+OR+JN+LAS+${alphabet}*+OR+JN+LOS+${alphabet}*+OR+JN+LES+${alphabet}*+OR+JN+EL+${alphabet}*+OR+JN+IL+${alphabet}*+OR+JN+LA+${alphabet}*+OR+JN+LE+${alphabet}*`;
        }
        this.sendToPFI(alphabetQuery);
      }
    }
  })

  var articleField = new Vue({
    el:'#articleField',
    i18n,
    data: {
      articles: []
    },
    created: function() {
      let self = this;
      $.ajax({
        url: 'http://gss.ebscohost.com/chchang/ServerConnect/databaseList/landingFeature/getArticle.php',
        type: 'GET',
        data: {
        },
        error: function(jqXHR, exception) {
          //use url variable here
          console.log(jqXHR);
          console.log(exception);
        },
        success: function(res) {
          console.log(res);
          for(index in res.Data.Records) {
            self.articles.push(self.processArticleData(res.Data.Records[index]));
            // self.articles = res.Data.Records
          }
        }
      });
    },
    mounted: function() {
    },
    methods: {
      processArticleData(dataObj) {
        let template = {
          articleTitle: '',
          articleLink: dataObj.PLink,
          articleAuthor: '',
          articleAbstract: '',
          hide: true
        }
        dataObj.Items.forEach(res => {
          switch(res.Name) {
            case 'Title':
              template.articleTitle = res.Data;
              break;
            case 'Author':
              // template.articleAuthor = unescape(res.Data);
              template.articleAuthor = this.htmlDecode(res.Data);
              break;
            case 'Abstract':
              template.articleAbstract = this.htmlDecode(res.Data);
              break;
          }
        })

        return template;
      },
      htmlDecode(input){
        let e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes[0].nodeValue;
      },
      expandArticle(Obj) {
        Obj.hide = !Obj.hide;
      }
    }
  })

  var databaseField = new Vue({
    el:'#databaseField',
    i18n,
    data: {
      databases: [
        {
          name: {
            en: 'ERIC',
            local: 'ERIC 高等教育知識庫'
          },
          brief: {
            en: 'ERIC Intro',
            local: '擁有全國最多教育叢書之高等教育出版社，2009年與凌網科技合作建置「高等教育知識庫」。匯集兩岸三地數十種教育核心期刊資源與成果，編輯群更涵蓋教育知名學校系所、學會、基金會、出版社等，提供最新期刊電子全文內容。'
          },
          imgCoverPath: 'img/dbVendor/ERIC.jpg',
          linkUrl: 'http://www.ericdata.com/',
          rotate: false
        },
        {
          name: {
            en: 'AIRITI Library',
            local: 'AIRITI 華藝線上圖書館'
          },
          brief: {
            en: 'AIRITI Intro',
            local: '「Airiti Library 華藝線上圖書館」是唯一整合台灣與大陸的學術資源，包括期刊論文、學位論文、會議論文集等重要全文資料。收錄主題含人文學、社會科學、自然科學、應用科學、醫學生命科學。 ※『Airiti Library 華藝線上圖書館』為CEPS思博網+CETD中文電子學位論文服務整合查詢入口網'
          },
          imgCoverPath: 'img/dbVendor/AIRITI.png',
          linkUrl: 'https://www.airitilibrary.com/',
          rotate: false
        },
        {
          name: {
            en: 'The Learning and Technology Library',
            local: 'The Learning and Technology Library'
          },
          brief: {
            en: 'The Learning and Technology Library Intro',
            local: 'The Learning and Technology Library 介紹'
          },
          imgCoverPath: 'img/dbVendor/LEARNINGandTECH.png',
          linkUrl: 'https://www.learntechlib.org/',
          rotate: false
        },
        {
          name: {
            en: 'Education World',
            local: 'Education World'
          },
          brief: {
            en: 'Education World Brief',
            local: '提供給教育者的免費資源，包含教案內容、網站整理、主題資源等教學訊息。'
          },
          imgCoverPath: 'img/dbVendor/EDUCATION_WORLD.png',
          linkUrl: 'https://www.educationworld.com/',
          rotate: false
        },
        {
          name: {
            en: 'ERIC Digests',
            local: 'ERIC Digests'
          },
          brief: {
            en: 'ERIC Digests Brief',
            local: '免費提供ERIC資料庫收錄之全文短篇(1000-1500字)報告，適用於教育專業者廣及社會團體。每篇報告內含現行關注教育主題之概述，以及參考文獻資訊。'
          },
          imgCoverPath: 'img/dbVendor/ERIC_DIGESTS.png',
          linkUrl: 'https://www.ericdigests.org/eric-digests.html',
          rotate: false
        },
        {
          name: {
            en: 'Professional Development Collection(PDC)',
            local: 'Professional Development Collection(PDC)'
          },
          brief: {
            en: 'Professional Development Collection Brief',
            local: '為專業教育者所設計，收錄逾750種具高專業性全文期刊，其中以職業教育資料為主'
          },
          imgCoverPath: 'img/dbVendor/PROFESSIONAL_DEVELOPMENT_COLLECTION.png',
          linkUrl: 'https://www.ebsco.com/products/research-databases/professional-development-collection',
          rotate: false
        }
      ],
      lang: 'local'
    },
    created: function() {
    },
    mounted: function() {
    },
    methods: {
      rotate(obj) {
        obj.rotate = !obj.rotate;
      }
    }
  })

  $(".ejournal").slick(
    {
      'dots': true,
      'slidesToShow': 5,
      'infinite': true,
      'slidesToScroll': 5,
      'swipeToSlide': false,
      'responsive':[
        {
          'breakpoint': 641,
          'settings': {
            'slidesToShow': 3,
            'slidesToScroll': 3,
            'infinite': true,
            'dots': true
          }
        },
        {
          'breakpoint':481,
          'settings': {
            'slidesToShow':1,
            'slidesToScroll':1,
            'infinite':true,
            'dots':true
          }
        }
      ]
    }
  );
  $(".ebook").slick(
    {
      'dots': true,
      'slidesToShow': 5,
      'infinite': true,
      'slidesToScroll': 5,
      'swipeToSlide': false,
      'responsive':[
        {
          'breakpoint': 641,
          'settings': {
            'slidesToShow': 3,
            'slidesToScroll': 3,
            'infinite': true,
            'dots': true
          }
        },
        {
          'breakpoint':481,
          'settings': {
            'slidesToShow':1,
            'slidesToScroll':1,
            'infinite':true,
            'dots':true
          }
        }
      ]
    }
  );
</script>

<script>

  // const buildSlideMarkup = (count) => {
  //   let slideMarkup = '';
  //   for (var i = 1; i <= count; i++) {
  //     slideMarkup += '<slide><span class="label">' + i + '</span></slide>'
  //   }
  //   return slideMarkup;
  // };

  // new Vue({
  //   el: '#example',
  //   data: function () {
  //     return {
  //       works: [
  //         {
  //           title: "海象樂園",
  //           description: "趴在冰層上的懶惰動物",
  //           cover: "https://unsplash.it/400/300?image=1084"
  //         },
  //         {
  //           title: "搭船遊去",
  //           description: "不會游泳只好搭船",
  //           cover: "https://unsplash.it/400/300?image=1083"
  //         },
  //         {
  //           title: "老年學鋼琴",
  //           description: "學習永遠不嫌晚！",
  //           cover: "https://unsplash.it/400/300?image=1082"
  //         },
  //         {
  //           title: "高樓的一隅",
  //           description: "繁複的幾何線條構築",
  //           cover: "https://unsplash.it/400/300?image=1081"
  //         },
  //         {
  //           title: "草莓來襲",
  //           description: "聽見果農的艱辛",
  //           cover: "https://unsplash.it/400/300?image=1080"
  //         },
  //         {
  //           title: "探索宇宙",
  //           description: "看見光的速度與殘影",
  //           cover: "https://unsplash.it/400/300?image=1079"
  //         }
  //       ]
  //     }
  //   },
  //   components: {
  //     'carousel': VueCarousel.Carousel,
  //     'slide': VueCarousel.Slide
  //   },
  //   methods: {
  //     buildSlideMarkup = (count) => {
  //       let slideMarkup = '';
  //       for (var i = 1; i <= count; i++) {
  //         slideMarkup += '<slide><span class="label">' + i + '</span></slide>'
  //       }
  //       return slideMarkup;
  //     }
  //   },
  //   template: '<div><carousel :perPageCustom="[[480, 2], [768, 3]]">' + buildSlideMarkup(10) + '</carousel></div>'
  // });
</script>