<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>教育學科電子資源指引</title>
  <meta name=”description” content=”網頁說明” />
  <link rel="stylesheet" type="text/css" href="lib/css/landing.css"/>
</head>
<body>
  <header id="header">
    <div class="logo">
      <a href="index.php">
        <img src="img/logo_ehost.png" alt="EBSCO" title="EBSCO"/>
        <div class="brand-name">教育學科電子資源指引</div>
      </a>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="img/icon/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag" v-if="lang === 'en'">{{link.title.en}}</a>
            <a :href="link.link" class="nav-tag" v-else-if="lang === 'local'">{{link.title.local}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index" v-if="lang === 'en'">{{link.title.en}}</label>
            <label class="nav-tag" :for="'tag'+index" v-else-if="lang === 'local'">{{link.title.local}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link" v-if="lang === 'en'">{{childLink.title.en}}</a>
                <a :href="childLink.link" v-if="lang === 'local'">{{childLink.title.local}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="search-field">
    <div class="search-warpper" id="searchField">
      <input class="radio" id="one" name="group" type="radio" checked>
      <div class="panels">
        <div class="panel" id="one-panel">
          <div class="panel-title">教育領域學術文章查詢</div>
          <div class="search-box-wrap">
            <select v-model="eds.prefix">
              <option value="" selected="selected">關鍵字</option>
              <option value="TI">標題</option>
              <option value="AU">作者</option>
              <option value="JN">期刊</option>
            </select>
            <input type="text" placeholder="請輸入文章標題" v-on:keyup.13="sendToEhost" v-model="eds.articleKeyword">
            <button @click="sendToEhost">
              <img src="img/icon/search.svg" alt="Search" title="Search"/>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <section class="subject-field" id="subjectField">
    <h1>特色專題</h1>
    <div class="subjects">
      <figure class="subject-wrap">
        <div class="img-frame">
          <img src="img/subjects/elearning.png">
        </div>
        <figcaption>
          <h2>
            E - Learning
          </h2>
        </figcaption>
      </figure>
      <figure class="subject-wrap">
        <div class="img-frame">
          <img src="img/subjects/adaptive_learning.png">
        </div>
        <figcaption>
          <h2>
            自適應學習
          </h2>
        </figcaption>
      </figure>
      <figure class="subject-wrap">
        <div class="img-frame">
          <img src="img/subjects/peer_learning.png">
        </div>
        <figcaption>
          <h2>
            同儕學習
          </h2>
        </figcaption>
      </figure>
    </div>
  </section> -->
  <div id="articlesField" class="articles-field">
    <section v-for="(subject, id) in subjects" class="article-subject">
      <div class="container" v-if="subject.articles.length !== 0">
        <h1>{{subject.title}}</h1>
        <div class="articles">
          <div class="article-wrap" v-for="(article, id) in subject.articles">
            <a :href="article.articleLink" target="_blank">
              <h2 v-html="article.articleTitle"></h2>
            </a>
            <div class="row">
              <div class="title">作者:</div>
              <div class="content author" v-html="article.articleAuthor"></div>
            </div>
            <div class="row">
              <div class="title">來源:</div>
              <div class="content source" v-html="article.articleSource"></div>
            </div>
            <div class="row">
              <div class="title">摘要:</div>
              <div class="content abstract" v-html="article.articleAbstract" :class="{ hide: article.hide }"></div>
            </div>
            <div class="expand">
              <div class="expandText" @click="showDetail(article)">更多...</div>
              <!-- <div class="expandText" v-if="article.hide === true" @click="expandArticle(article)">展開</div>
              <div class="expandText" v-else @click="expandArticle(article)">收起</div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="container loading-wrap" v-else>
        <img class="icon-loading" src="img/icon/Spinner.svg" alt="loading">
      </div>
    </section>
  </div>
  <section class="journal-field">
    <h1>期刊推薦</h1>
    <div id="ebook" class="ejournal slider">
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+American+Educational+Research+Journal">
          <!-- <a href="https://journals.sagepub.com/home/aer" target="_blank"></a> -->
          <div class="image-frame">
            <img src="img/journals/AER.png">
          </div>
          <h2>
            American Educational Research Journal
          </h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+ANTHROPOLOGY+AND+EDUCATION+QUARTERLY">
        <!-- <a href="https://anthrosource.onlinelibrary.wiley.com/journal/15481492" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/AAEQ.gif">
          </div>
          <h2>ANTHROPOLOGY AND EDUCATION QUARTERLY</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+BRITISH+EDUCATIONAL+RESEARCH+JOURNAL">
        <!-- <a href="https://onlinelibrary.wiley.com/journal/14693518" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/BERJ.gif">
          </div>
          <h2>BRITISH EDUCATIONAL RESEARCH JOURNAL</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+CONTINENTAL+PHILOSOPHY+REVIEW">
        <!-- <a href="https://www.springer.com/journal/11007" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/CPR.jpg">
          </div>
          <h2>CONTINENTAL PHILOSOPHY REVIEW</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+Curriculum+Inquiry">
        <!-- <a href="https://www.tandfonline.com/loi/rcui20" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/CUI.png">
          </div>
          <h2>Curriculum Inquiry</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+EDUCATIONAL+ADMINISTRATION+QUARTERLY">
        <!-- <a href="https://journals.sagepub.com/home/eaq" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/EAQ.png">
          </div>
          <h2>EDUCATIONAL ADMINISTRATION QUARTERLY</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+EDUCATIONAL+THEORY">
        <!-- <a href="https://onlinelibrary.wiley.com/journal/17415446" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/ETJ.gif">
          </div>
          <h2>EDUCATIONAL THEORY</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+EUROPEAN+JOURNAL+OF+EDUCATION">
        <!-- <a href="https://www.onlinelibrary.wiley.com/journal/14653435" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/EJOE.gif">
          </div>
          <h2>EUROPEAN JOURNAL OF EDUCATION</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+HISTORY+OF+EDUCATION+QUARTERLY">
        <!-- <a href="https://www.cambridge.org/core/journals/history-of-education-quarterly" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/HEQ.jpg">
          </div>
          <h2>HISTORY OF EDUCATION QUARTERLY</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+HUMAN+STUDIES">
        <!-- <a href="https://www.springer.com/journal/10746" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/HSJ.jpg">
          </div>
          <h2>HUMAN STUDIES</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+Interchange">
        <!-- <a href="https://www.springer.com/journal/10780" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/InterChange.jpg">
          </div>
          <h2>INTERCHANGE: A QUARTERLY REVIEW OF EDUCATION</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+INTERNATIONAL+JOURNAL+OF+EDUCATIONAL+DEVELOPMENT">
        <!-- <a href="https://www.journals.elsevier.com/international-journal-of-educational-development" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/IJED.gif">
          </div>
          <h2>INTERNATIONAL JOURNAL OF EDUCATIONAL DEVELOPMENT</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+JOURNAL+OF+PHILOSOPHY+OF+EDUCATION">
        <!-- <a href="https://onlinelibrary.wiley.com/journal/14679752" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/JPE.gif">
          </div>
          <h2>JOURNAL OF PHILOSOPHY OF EDUCATION</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+NEW+DIRECTIONS+FOR+EVALUATION">
        <!-- <a href="https://onlinelibrary.wiley.com/journal/1534875x" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/NDFE.gif">
          </div>
          <h2>NEW DIRECTIONS FOR EVALUATION</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+NEW+DIRECTIONS+FOR+HIGHER+EDUCATION">
        <!-- <a href="https://onlinelibrary.wiley.com/journal/15360741" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/NDFHE.gif">
          </div>
          <h2>NEW DIRECTIONS FOR HIGHER EDUCATION</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+QUALITATIVE+INQUIRY">
        <!-- <a href="https://journals.sagepub.com/home/qix" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/QIJ.png">
          </div>
          <h2>QUALITATIVE INQUIRY</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+RESEARCH+IN+HIGHER+EDUCATION">
        <!-- <a href="https://www.springer.com/journal/11162" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/RIHE.jpeg">
          </div>
          <h2>RESEARCH IN HIGHER EDUCATION</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+REVIEW+OF+EDUCATIONAL+RESEARCH">
        <!-- <a href="https://journals.sagepub.com/home/rer" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/ROER.png">
          </div>
          <h2>REVIEW OF EDUCATIONAL RESEARCH</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+SOCIAL+SCIENCE+QUARTERLY">
        <!-- <a href="https://onlinelibrary.wiley.com/journal/15406237" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/SSQ.gif">
          </div>
          <h2>SOCIAL SCIENCE QUARTERLY</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&profile=pfi&groupid=main&custid=jaychang&direct=true&db=edspub&bquery=JN+SOCIOLOGY+OF+EDUCATION">
        <!-- <a href="https://journals.sagepub.com/home/soe" target="_blank"> -->
          <div class="image-frame">
            <img src="img/journals/SOE.png">
          </div>
          <h2>SOCIOLOGY OF EDUCATION</h2>
        </a>
      </div>
    </div>
  </section>
  <section class="ebook-field">
    <h1>電子書推薦</h1>
    <div id="ebook" class="ebook slider">
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24108383%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2478385%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2478327%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24138581%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%241710%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%24108051%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
      <div class="ebook-wrap">
        <a href="http://www.google.com">
          <div class="image-frame">
            <img src="https://rps2images.ebscohost.com/rpsweb/othumb?id=NL%2481853%24PDF&s=l">
          </div>
          <h2>test</h2>
        </a>
      </div>
    </div>
    
    <!-- <div id="slider_journal">
      <div class="postarea">
        <div class="posts" :style="computedLeft">
          <div class="postbox" v-for="(work, id) in works" :class="{curItem: id == nowIndex}">
            <div class="cover" :style="coverUrl(work.cover)">
              <div class="infos">
                <h1>{{work.title}}</h1>
                <h5>{{work.description}}</h5>
              </div>
            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
      <div class="control_left" @click="delta(-1)">left<i class="fa fa-angle-left"></i></div>
      <div class="control_right" @click="delta(1)">right<i class="fa fa-angle-right"></i></div>
    </div> -->
  </section>
  <section class="database-field" id="databaseField">
    <h1>資料庫推薦</h1>
    <div class="database-wrap">
      <div class="database" v-for="(database, index) in databases">
        <div class="btn-wrap">
          <button @click="rotate(database)">
            <img src="img/icon/help.svg">
          </button>
        </div>
        <div class="card-wrap">
          <figure class="card" v-bind:class="{ back: database.rotate}">
            <div class="card-front">
              <div class="img-frame">
                <img :src="database.imgCoverPath" alt="Trulli" style="width:100%">
              </div>
              <figcaption>{{database.name.local}}</figcaption>
            </div>
            <div class="card-back">
              {{database.brief.local}}
            </div>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <div class="mask" id="dialogue" v-if="show" :class="{ show: show }">
    <div class="cover" @click="closeDialogue()"></div>
    <div class="dialogue-message-frame">
      <div class="dialogue-head">
        <h4>文章資訊</h4>
        <img src="img/icon/closeWhite.svg" class="close" @click="closeDialogue()">
      </div>
      <div class="dialogue-body">
        <div class="article-content">
          <a :href="articleObj.articleLink" class="title-link">
            <h5 v-html="articleObj.articleTitle" class="article-title">
            </h5>
          </a>
          <div class="row">
            <div class="title">作者</div>
            <div class="content" v-html="articleObj.articleAuthor"></div>
          </div>
          <div class="row">
            <div class="title">來源</div>
            <div class="content" v-html="articleObj.articleSource"></div>
          </div>
          <div class="row">
            <div class="title">摘要</div>
            <!-- <div class="content" v-html="articleObj.articleAbstract"></div> -->
            <div class="content">
              {{articleObj.articleAbstract}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <img src="img/logo_white.svg">
    <p>© 2020 EBSCO Industries, Inc. All rights reserved</p>
  </footer>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js"></script>
<script src="lang/lang.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="lib/js/header_front.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  var searchField = new Vue({
    el:'#searchField',
    i18n,
    data: {
      eds: {
        prefix: '',
        articleKeyword: '',
      },
      pfi: {
        pfiKeyword: '',
      },      
      resourceKeyword: ''
    },
    created: function() {
    },
    mounted: function() {
    },
    methods: {
      sendToEhost() {
        let bquery = '';

        if(this.eds.prefix !== '') {
          bquery = `${this.eds.prefix} ${this.eds.articleKeyword}`;
        } else {
          bquery = this.eds.articleKeyword;
        }
        window.open(`http://search.ebscohost.com/login.aspx?direct=true&scope=site&type=1&site=ehost-live&db=ehh&custid=jaychang&groupid=main&profid=ehost&lang=en&authtype=ip,uid&bquery=${bquery}`);
        // window.open(`https://search.ebscohost.com/login.aspx?authtype=guest&custid=jaychang&groupid=main&profile=test_eds&bquery=${bquery}&direct=true`);
      }
    }
  })

  var articlesField = new Vue({
    el:'#articlesField',
    i18n,
    data: {
      subjects: [
        {
          'keyword': 'Educational psychology',
          'title': '文章推薦 - 教育心理學',
          'articles': []
        },
        {
          'keyword': 'comparative education',
          'title': '文章推薦 - 比較教育',
          'articles': []
        },
        {
          'keyword': 'Instructional Technology',
          'title': '文章推薦 - 教學科技',
          'articles': []
        },
        {
          'keyword': 'gender in science and technology',
          'title': '文章推薦 - 科技與性別研究',
          'articles': []
        }
      ]
    },
    created () {
      let self = this;
      this.subjects.forEach(async res => {
        let tempArticleList = await self.getArticles(res.keyword);
        console.log(tempArticleList);

        // process the data
        for(index in tempArticleList) {
          tempArticleList[index] = self.processArticleData(tempArticleList[index]);
        }
        res.articles = tempArticleList;
      })
    },
    mounted: function() {
    },
    methods: {
      showDetail(obj_article) {
        dialogue.setDialogue('showArticleDetail', JSON.parse(JSON.stringify(obj_article)));
      },
      getArticles: async keyword => {
        return new Promise((resolve, reject) => {
          $.ajax({
            url: 'http://gss.ebscohost.com/chchang/ServerConnect/databaseList/landingFeature/getDatabaseSearchResult.php',
            type: 'GET',
            data: {
              uquery: keyword
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              // const articles = processArticleData(res);
              resolve(res);
            }
          });
        })
      },
      processArticleData(dataObj) {
        let template = {
          articleTitle: dataObj.title,
          articleLink: dataObj.pLink,
          articleAuthor: dataObj.authors,
          articleAbstract: dataObj.abstract,
          articleSource: dataObj.source,
          hide: true
        }

        return template;
      },
      htmlDecode(input){
        let e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes[0].nodeValue;
      },
      expandArticle(Obj) {
        Obj.hide = !Obj.hide;
      }
    }
  })

  var dialogue = new Vue({
    el:'#dialogue',
    i18n,
    data: {
      show: false,
      type: '',
      articleObj: {
        articleTitle: '',
        articleLink: '',
        articleAuthor: '',
        articleAbstract: '',
        articleSource: ''
      }
    },
    methods:{
      setDialogue: function(type, Obj) {
        this.articleObj = Obj;
        this.show = true;
      },
      closeDialogue: function() {
        this.show = false;
      }
    }
  });

  var databaseField = new Vue({
    el:'#databaseField',
    i18n,
    data: {
      databases: [
        {
          name: {
            en: 'EBSCOhost',
            local: 'EBSCOhost系統'
          },
          brief: {
            en: 'EBSCOhost Intro',
            local: '主要提供 EBSCO綜合學科、商管財經、生物醫護、人文歷史、法律等期刊之電子全文資料庫，以及部分當今全球知名之索引摘要資料庫。'
          },
          imgCoverPath: 'img/dbVendor/EHOST.png',
          linkUrl: 'http://www.lib.ntnu.edu.tw/database/dbview.jsp?id=A7009302-3FCE-88B9-9C60-45DD0E2F2ADE&type=0',
          rotate: false
        },
        {
          name: {
            en: 'ERIC',
            local: 'ERIC 高等教育知識庫'
          },
          brief: {
            en: 'ERIC Intro',
            local: '擁有全國最多教育叢書之高等教育出版社，2009年與凌網科技合作建置「高等教育知識庫」。匯集兩岸三地數十種教育核心期刊資源與成果，編輯群更涵蓋教育知名學校系所、學會、基金會、出版社等，提供最新期刊電子全文內容。'
          },
          imgCoverPath: 'img/dbVendor/ERIC.jpg',
          linkUrl: 'http://www.ericdata.com/',
          rotate: false
        },
        {
          name: {
            en: 'AIRITI Library',
            local: 'AIRITI 華藝線上圖書館'
          },
          brief: {
            en: 'AIRITI Intro',
            local: '「Airiti Library 華藝線上圖書館」是唯一整合台灣與大陸的學術資源，包括期刊論文、學位論文、會議論文集等重要全文資料。收錄主題含人文學、社會科學、自然科學、應用科學、醫學生命科學。 ※『Airiti Library 華藝線上圖書館』為CEPS思博網+CETD中文電子學位論文服務整合查詢入口網'
          },
          imgCoverPath: 'img/dbVendor/AIRITI.png',
          linkUrl: 'https://www.airitilibrary.com/',
          rotate: false
        },
        {
          name: {
            en: 'The Learning and Technology Library',
            local: 'The Learning and Technology Library'
          },
          brief: {
            en: 'The Learning and Technology Library Intro',
            local: 'The Learning and Technology Library 介紹'
          },
          imgCoverPath: 'img/dbVendor/LEARNINGandTECH.png',
          linkUrl: 'https://www.learntechlib.org/',
          rotate: false
        },
        {
          name: {
            en: 'Education World',
            local: 'Education World'
          },
          brief: {
            en: 'Education World Brief',
            local: '提供給教育者的免費資源，包含教案內容、網站整理、主題資源等教學訊息。'
          },
          imgCoverPath: 'img/dbVendor/EDUCATION_WORLD.png',
          linkUrl: 'https://www.educationworld.com/',
          rotate: false
        },
        {
          name: {
            en: 'ERIC Digests',
            local: 'ERIC Digests'
          },
          brief: {
            en: 'ERIC Digests Brief',
            local: '免費提供ERIC資料庫收錄之全文短篇(1000-1500字)報告，適用於教育專業者廣及社會團體。每篇報告內含現行關注教育主題之概述，以及參考文獻資訊。'
          },
          imgCoverPath: 'img/dbVendor/ERIC_DIGESTS.png',
          linkUrl: 'https://www.ericdigests.org/eric-digests.html',
          rotate: false
        },
        {
          name: {
            en: 'Professional Development Collection(PDC)',
            local: 'Professional Development Collection(PDC)'
          },
          brief: {
            en: 'Professional Development Collection Brief',
            local: '為專業教育者所設計，收錄逾750種具高專業性全文期刊，其中以職業教育資料為主'
          },
          imgCoverPath: 'img/dbVendor/PROFESSIONAL_DEVELOPMENT_COLLECTION.png',
          linkUrl: 'https://www.ebsco.com/products/research-databases/professional-development-collection',
          rotate: false
        }
      ],
      lang: 'local'
    },
    created: function() {
    },
    mounted: function() {
    },
    methods: {
      rotate(obj) {
        obj.rotate = !obj.rotate;
      }
    }
  })

  $(".ejournal").slick(
    {
      'dots': true,
      'slidesToShow': 5,
      'infinite': true,
      'slidesToScroll': 5,
      'swipeToSlide': false,
      'responsive':[
        {
          'breakpoint': 641,
          'settings': {
            'slidesToShow': 3,
            'slidesToScroll': 3,
            'infinite': true,
            'dots': true
          }
        },
        {
          'breakpoint':481,
          'settings': {
            'slidesToShow':1,
            'slidesToScroll':1,
            'infinite':true,
            'dots':true
          }
        }
      ]
    }
  );
  $(".ebook").slick(
    {
      'dots': true,
      'slidesToShow': 5,
      'infinite': true,
      'slidesToScroll': 5,
      'swipeToSlide': false,
      'responsive':[
        {
          'breakpoint': 641,
          'settings': {
            'slidesToShow': 3,
            'slidesToScroll': 3,
            'infinite': true,
            'dots': true
          }
        },
        {
          'breakpoint':481,
          'settings': {
            'slidesToShow':1,
            'slidesToScroll':1,
            'infinite':true,
            'dots':true
          }
        }
      ]
    }
  );
</script>
