<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>最新消息</title>
    <link rel="stylesheet" type="text/css" href="lib/latestNews.css"/>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
  </head>
<body>
  <header>
    <div>
      <h1>最新消息管理</h1>
    </div>
    <div class="top-right">
      <a href="index.php">資源管理</a>
    </div>
  </header>
  <button class="add-new-button" onclick="addNews()">
    <img src="img/add.svg"/>
  </button>
  <div id="latestNewsListField" class="latestNews-wrap">
    <div class="latestNews-wrap form-setting">
      <h3>表格設定</h3>
      <div class="button-wrap">
        <button @click="updateNewsField()"><img src="img/edit.svg"/></button>
      </div>
      <div class="row">
        <div class="title">表格名稱</div>
        <div class="content">{{title}}</div>
      </div>
      <div class="row">
        <div class="title">顯示筆數</div>
        <div class="content">{{displayNumber}}</div>
      </div>
    </div>
    <div v-for="(latestNews, index) in latestNewsList" class="latestNews-wrap">
      <h3>{{latestNews.title}}</h3>
      <div class="button-wrap">
        <button @click="updateNews(latestNews)"><img src="img/edit.svg"/></button>
        <button @click="deleteNews(latestNews)"><img src="img/delete.svg"/></button>
      </div>
      <div class="row">
        <div class="title">發佈日期</div>
        <div class="content">{{latestNews.publishDate}}</div>
      </div>
      <div class="row">
        <div class="title">內容</div>
        <div class="content">{{latestNews.content}}</div>
      </div>
    </div>
  </div>
  <div class="mask" id="fillForm" v-if="show">
    <div class="dialogue-message-frame">
      <div class="dialogue-head">
        <h4>{{headTitle}}</h4>
        <img src="img/closeWhite.svg"/ class="close" @click="closeForm">
      </div>
      <div class="dialogue-body">
        <div class="row">
          <div class="title">標題</div>
          <div class="content">
            <input type="text" v-model="news.title">
          </div>
        </div>
        <div class="row">
          <div class="title">內容</div>
          <div class="content">
            <textarea v-model="news.content" name="editor1"></textarea>
          </div>
        </div>
        <div class="btn-frame">
          <button @click="sendForm">{{btnName}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mask" id="dialogue" v-if="show">
    <div class="dialogue-message-frame">
      <div class="dialogue-head">
        <h4>{{title}}</h4>
        <img src="img/closeWhite.svg"/ class="close" @click="closeDialogue">
      </div>
      <div class="dialogue-body" v-if="type === 'deleteNews'">
        {{message}} <span class="resource-name">{{newsTitle}}</span>?
        <div class="btn-frame">
          <button @click="deleteNews">確定</button>
          <button @click="closeDialogue">取消</button>
        </div>
      </div>
      <div class="dialogue-body" v-else>
        {{message}}
        <div class="btn-frame">
          <button @click="closeDialogue">確定</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="lib/jquery.js"></script>
  <script type="text/javascript">
    function addNews() {
      fillForm.setDisplayForm('addNews');
    }
    function replaceCKEditor() {
      setTimeout(() => {
        CKEDITOR.replace( 'editor1' );
      }, 1000);
    }
    function getEditorData() {
      return CKEDITOR.instances.editor1.getData();
    }
    var dataList = new Vue({
      el:'#latestNewsListField',
      data: {
        title: '',
        displayNumber: 0,
        latestNewsList: []
      },
      created: function() {
        this.getLatestNewsListInfo();
      },
      methods:{
        getLatestNewsListInfo: function() {
          let self = this;
          $.ajax({
            url: 'http://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getLatestNews.php',
            type: 'GET',
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              self.title = res.bulletinTitle;
              self.displayNumber = res.displayNumber;
              self.latestNewsList = res.newsList;
            }
          });
        },
        updateNewsField: function(newsFieldInfo) {
          fillForm.setDisplayForm('updateNewsField', newsFieldInfo);
        },
        updateNews: function(news) {
          fillForm.setDisplayForm('updateNews', news);
        },
        deleteNews: function(news) {
          dialogue.setDialogue('deleteNews', news);
        }
      }
    });
    var fillForm = new Vue({
      el:'#fillForm',
      data: {
        show: false,
        headTitle: '',
        btnName: '',
        sendType: '',
        news: ''
      },
      methods:{
        setDisplayForm: function(type, news = '') {
          if(type === 'updateNews') {
            this.btnName = '修改';
            this.headTitle = '修改內容';
            this.news = news;
          } else if(type === 'addNews') {
            this.btnName = '新增';
            this.headTitle = '新增最新消息';
            this.news = {
              "title": "",
              "content": ""
            }
          }
          this.sendType = type;
          this.show = true;
          replaceCKEditor();
        },
        sendForm: function() {
          // get the CKEditor data
          let editorData = getEditorData();
          this.news.content = editorData;
          
          let newsData = JSON.stringify(this.news);
          let self = this;
          console.log(newsData);

          $.ajax({
            url: 'http://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processLatestNews.php',
            type: 'POST',
            data: {
              type: self.sendType,
              news: newsData
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              console.log(res);
              dataList.getLatestNewsListInfo();
              self.closeForm();
              let dialogueType = `${self.sendType}_success`;
              dialogue.setDialogue(dialogueType);
            }
          });
        },
        closeForm: function() {
          this.show = false;
        }
      }
    });
    var dialogue = new Vue({
      el:'#dialogue',
      data: {
        show: false,
        type: '',
        title: '測試標題',
        message: '測試內容',
        newsTitle: '',
        news: ''
      },
      methods:{
        setDialogue: function(type, news = '') {
          this.type = type;
          switch (type) {
            case 'deleteNews':
              this.title = '注意';
              this.message = `您確定要刪除`;
              this.newsTitle = news.title;
              this.news = JSON.stringify(news);
              break;
            case 'addNews_success':
              this.title = '訊息';
              this.message = '新增成功';
              break;
            case 'updateNews_success':
              this.title = '訊息';
              this.message = '修改成功';
              break;
            case 'deleteNews_success':
              this.title = '訊息';
              this.message = '刪除成功';
              break;
          }
          this.show = true;
        },
        deleteNews: function() {
          let self = this;
          $.ajax({
            url: 'http://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processLatestNews.php',
            type: 'POST',
            data: {
              type: 'deleteNews',
              news: self.news
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              dataList.getLatestNewsListInfo();
              self.setDialogue('deleteNews_success');
            }
          });
        },
        closeDialogue: function() {
          this.show = false;
        }
      }
    });
  </script>
</body>
</html>