<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>設定</title>
    <link rel="stylesheet" type="text/css" href="lib/settings.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="img/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li>
          <a href="#" class="nav-tag">link 1</a>
        </li>
        <li class="multi">
          <label class="nav-tag" for="tag1">link 2</label>
          <input type="checkbox" id="tag1">
          <ul>
            <li>
              <a href="#">link 2-1</a>
            </li>
            <li>
              <a href="#">link 2-2</a>
            </li>
            <li>
              <a href="#">link 2-3</a>
            </li>
            <li>
              <a href="#">link 2-4</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="nav-tag">link 3</a>
        </li>
      </ul>
    </nav>
  </header>
  <div id="settingsField" class="settings-wrap">
    <div class="setting-wrap">
      <h3>設定</h3>
      <div class="row">
        <div class="title">proxy</div>
        <div class="content">
          <input type="text" v-model="settings.proxy">
        </div>
      </div>
    </div>
    <div class="button-wrap">
      <button @click="updateSettings()">更新</button>
      <button v-if="btn_recovery.show" @click="recoverySettings()">{{btn_recovery.name}}</button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="lib/jquery.js"></script>
  <script type="text/javascript">
    var settings = new Vue({
      el:'#settingsField',
      data: {
        settings: {
          proxy: ''
        },
        settings_backup: {
          proxy: ''
        },
        btn_recovery: {
          show: false,
          name: '恢復'
        }
      },
      created: function() {
        this.getSettings();
      },
      watch: {
        settings: {
          handler: function(val, oldVal) {
            if(JSON.stringify(this.settings) === JSON.stringify(this.settings_backup)){
              this.btn_recovery.show = false;
            } else {
              this.btn_recovery.show = true;
            }
          },
          deep: true
        }
      },
      methods:{
        getSettings: function() {
          let self = this;
          $.ajax({
            url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getSetting.php',
            type: 'GET',
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              console.log(res);
              self.settings = res;
              Object.assign(self.settings_backup, self.settings);
            }
          });
        },
        recoverySettings: function() {
          Object.assign(this.settings, this.settings_backup);
        },
        updateSettings: function(news) {
          $.ajax({
            url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processLatestNews.php',
            type: 'POST',
            data: {
              type: self.sendType,
              processData: newsData
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              console.log(res);
              dataList.getLatestNewsListInfo();
              self.closeForm();
              let dialogueType = `${self.sendType}_success`;
              dialogue.setDialogue(dialogueType);
            }
          });
        }
      }
    });
  </script>
</body>
</html>