<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Version>EDS API-PHP Demo 1.4</Version>
    <EndPoints>
        <EndPoint>http://eds-api.ebscohost.com/edsapi/rest</EndPoint>
        <AuthenticationEndPoint>https://eds-api.ebscohost.com/Authservice/rest</AuthenticationEndPoint>                           
    </EndPoints>
    <AbstractLength>300</AbstractLength>
    <ClientCredentials>
        <User>
            <UserId>eds-api</UserId>
            <Password>eds-api</Password>        
        </User>
    </ClientCredentials>
    
    <EDSCredentials>     
        <User>
            <ClientUser>guest</ClientUser>
            <EDSUserID>insert EDS credential</EDSUserID>
            <EDSPassword>insert EDS credential</EDSPassword>
            <EDSProfile>insert EDS credential</EDSProfile>           
        </User>
        <User>
            <ClientUser>jaychang</ClientUser>
            <EDSUserID>jaychangapi</EDSUserID>
            <EDSPassword>Qwer1!34</EDSPassword>
            <EDSProfile>eds-api</EDSProfile>           
        </User>       
    </EDSCredentials>
</Config>
