<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Version>EDS API-PHP Demo 1.4</Version>
    <EndPoints>
        <EndPoint>http://eds-api.ebscohost.com/edsapi/rest</EndPoint>
        <AuthenticationEndPoint>https://eds-api.ebscohost.com/Authservice/rest</AuthenticationEndPoint>                           
    </EndPoints>
    <AbstractLength>300</AbstractLength>
    <ClientCredentials>
        <User>
            <UserId>jaychangapi</UserId>
            <Password>Qwer1!34</Password>        
        </User>
    </ClientCredentials>
    
    <EDSCredentials>     
        <User>
            <ClientUser>guest</ClientUser>
            <EDSUserID>J4VAGI77SD^hDOkw0uCV</EDSUserID>
            <EDSPassword>H5r3CUIj^ZnEXSR$hbO^</EDSPassword>
            <EDSProfile>eds-api</EDSProfile>           
        </User>
        <User>
            <ClientUser>jaychangapi</ClientUser>
            <EDSUserID>J4VAGI77SD^hDOkw0uCV</EDSUserID>
            <EDSPassword>H5r3CUIj^ZnEXSR$hbO^</EDSPassword>
            <EDSProfile>eds-api</EDSProfile>           
        </User>       
    </EDSCredentials>
</Config>
