body {
  padding: 0 15px 40px;
  background-color: #EEEEEE;
}
section {
  background-color: #ffffff;
  padding: 20px 15px;
  margin-bottom: 20px;
  position: relative;
}
input[type="text"] {
  flex: 1;
  height: 30px;
  padding: 0px 5px;
  border-radius: 10px;
  border: 2px solid #cccccc;
}
input[type="number"] {
  width: 60px;
  height: 30px;
  padding: 0px 5px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
}
input:focus, textarea:focus, select:focus, button {
  outline: none;
}
button {
  width: 100%;
  max-width: 250px;
  padding: 15px;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 10px;
  background-color: #4e73df;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea {
  width: 100%;
  height: 500px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
#generateCarousel {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
.row {
  padding: 5px 0px;
  display: flex;
  align-items: center;
}
.row > .title {
  width: 140px;
}
.row > .content-frame {
  flex: 1;
  text-align: right;
}
.ebook-wrap {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  background-color: #d1ecf1;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.configuration-wrap {
  padding: 15px;
  border-radius: 10px;
  background-color: #d4edda;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.remove-ebook {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
.button-frame {
  width: 100%;
  padding: 20px 0;
}
.generateWrap {
  width: 100%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.break-frame {
  padding: 15px;
  margin-top: 20px;
  position: relative;
  background-color: #fff3cd;
  border-radius: 10px;
}
.upload-csv-wrap {
  position: absolute;
  top: 15px;
  right: 15px;
}
.upload-csv-wrap > .upload-csv, .upload-csv-wrap > a {
  padding: 15px 30px;
  font-size: 16px;
  color: #ffffff;
  background-color: #28a745;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
}
.upload-csv > input {
  display: none;
}