<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>最新消息</title>
    <link rel="stylesheet" type="text/css" href="../lib/clickReport.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="../img/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li>
          <a href="../admin.html" class="nav-tag">資源管理</a>
        </li>
        <li>
          <a href="../manageLatestNews.html" class="nav-tag">最新消息管理</a>
        </li>
        <li>
          <a href="../manageSetting.html" class="nav-tag">設定</a>
        </li>
        <li class="multi">
          <label class="nav-tag" for="tag1">link 2</label>
          <input type="checkbox" id="tag1">
          <ul>
            <li>
              <a href="#">link 2-1</a>
            </li>
            <li>
              <a href="#">link 2-2</a>
            </li>
            <li>
              <a href="#">link 2-3</a>
            </li>
            <li>
              <a href="#">link 2-4</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <section id="reportTable" class="report-wrap">
      <div class="search-wrap">
        <div class="date-wrap">
          <div class="title">起始時間: </div>
          <input type="date" v-model="searchRange.startDate">
        </div>
        <div class="date-wrap">
          <div class="title">結束時間: </div>
          <input type="date" v-model="searchRange.endDate">
        </div>
        <div class="date-wrap">
          <div class="title">顯示方式: </div>
          <select v-model="searchRange.type">
            <option value="day">日</option>
            <option value="month">月</option>
          </select>
        </div>
        <button @click="search()">搜尋</button>
      </div>
      <div class="report-list-wrap">
        <div class="loading-frame" v-if="searching">
          <img src="../img/Spinner.svg" alt="loading" title="loading" class="icon-loading"/>
        </div>
        <div class="report-list" v-if="reportData.length !== 0">
          <div class="btn-report-wrap">
            <button @click="generateCsvFile">下載報表</button>
          </div>
          <div class="row" v-for="(data, index) in reportData" v-if="data.total > 0">
            <div class="title">{{data.date}}</div>
            <div class="content">
              <div v-for="(item, index) in data.clickedList" class="list-frame" v-if="item.clickTimes > 0">
                <div class="list-title">{{item.name}}</div>
                <div class="list-content">{{item.clickTimes}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="../lib/jquery.js"></script>
  <script type="text/javascript">
    var reportTable = new Vue({
      el:'#reportTable',
      data: {
        searching: false,
        searchRange: {
          type: 'day',
          startDate: '',
          endDate: ''
        },
        reportData: []
      },
      computed: {
        selector_years: {
          get: function () {
            let startYear = 1990;
            let array_year = [];

            let currentDate = new Date();
            let currentYear = currentDate.getFullYear();

            for(startYear; startYear <= currentYear; startYear++) {
              array_year.push(startYear);
            }
            return array_year;
          }
          // ,set: function () {
          // }
        }
      },
      methods:{
        generateCsvFile() {
          let prefix = 'data:text/csv;charset=utf-8,';
          let ary_date = [];
          let ary_row = [];
          let string_metadata = " "; // first cell empty
          let string_content = "";
          let universalBOM = "\uFEFF";

          let now = new Date();

          let reportType = '';
          if(this.searchRange.type === 'day') {
            reportType = 'Daily';
          } else {
            reportType = 'Monthly';
          }

          let fileName = `${now.getFullYear()}-${now.getMonth()+1}-${now.getDate()} ${reportType} Report`;

          // create data array and metadata.
          this.reportData.forEach(row => {
            string_metadata = `${string_metadata},${row.date}`;
            ary_date.push(row.date);
            row['clickedList'].forEach(list => {
              if(list.name in ary_row) {
                ary_row[list.name][row.date] = list.clickTimes;
              } else {
                ary_row[list.name] = [];
                ary_row[list.name][row.date] = list.clickTimes;
              }
            })
          });
          string_metadata = `${string_metadata}\n`;

          Object.keys(ary_row).forEach(key => {
            let string_row = key;
            ary_date.forEach(date => {
              string_row = `${string_row},${ary_row[key][date]}`;
            })
            string_content = `${string_content}${string_row}\n`;
          })
          
          const csv = `${string_metadata}${string_content}`;

          // create hidden anchor and click it
          let hiddenElement = document.createElement('a');
          hiddenElement.href = prefix + encodeURIComponent(universalBOM+csv.replace(/,/g, ""));
          hiddenElement.target = '_blank';
          hiddenElement.download = `${fileName}.csv`;
          hiddenElement.click();
        },
        search: function() {
          this.reportData = [];
          this.searching = true;

          if(this.searchRange.startDate !== '' && this.searchRange.endDate !== '') {
            let self = this;
            $.ajax({
              url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processLogReport.php',
              type: 'GET',
              data: {
                'searchRange': JSON.stringify(self.searchRange)
              },
              error: function(jqXHR, exception) {
                //use url variable here
                console.log(jqXHR);
                console.log(exception);
                self.searching = false;
              },
              success: function(res) {
                Object.keys(res).forEach(function(key){
                  let tempReportData = {
                    date: key,
                    clickedList: [],
                    total: res[key].total
                  }

                  if(!Array.isArray(res[key])){
                    Object.keys(res[key]).forEach(function(item){
                      tempReportData.clickedList.push(res[key][item]);
                    })
                  }
                  self.reportData.push(tempReportData);
                });
                self.searching = false;
              }
            });
          } else {
            this.searching = false;
          }
        }
      }
    });
  </script>
</body>
</html>