<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>最新消息</title>
    <link rel="stylesheet" type="text/css" href="../lib/clickReport.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="../img/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li>
          <a href="../admin.html" class="nav-tag">資源管理</a>
        </li>
        <li>
          <a href="../manageLatestNews.html" class="nav-tag">最新消息管理</a>
        </li>
        <li>
          <a href="../manageSetting.html" class="nav-tag">設定</a>
        </li>
        <li class="multi">
          <label class="nav-tag" for="tag1">link 2</label>
          <input type="checkbox" id="tag1">
          <ul>
            <li>
              <a href="#">link 2-1</a>
            </li>
            <li>
              <a href="#">link 2-2</a>
            </li>
            <li>
              <a href="#">link 2-3</a>
            </li>
            <li>
              <a href="#">link 2-4</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <section id="reportTable" class="report-wrap">
      <div class="search-wrap">
        <div class="date-wrap">
          <div class="title">起始時間: </div>
          <input type="date" v-model="searchRange.startDate">
        </div>
        <div class="date-wrap">
          <div class="title">結束時間: </div>
          <input type="date" v-model="searchRange.endDate">
        </div>
        <button @click="search()">搜尋</button>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="../lib/jquery.js"></script>
  <script type="text/javascript">
    var reportTable = new Vue({
      el:'#reportTable',
      data: {
        searchRange: {
          startDate: '',
          endDate: ''
        }
      },
      computed: {
        selector_years: {
          get: function () {
            let startYear = 1990;
            let array_year = [];

            let currentDate = new Date();
            let currentYear = currentDate.getFullYear();

            for(startYear; startYear <= currentYear; startYear++) {
              array_year.push(startYear);
            }
            return array_year;
          }
          // ,set: function () {
          // }
        },
        selector_months: {
          get: function () {
            let array_month = [
              {
                'value': 1,
                'displayName': '一月'
              },              {
                'value': 2,
                'displayName': '二月'
              },              {
                'value': 3,
                'displayName': '三月'
              },              {
                'value': 4,
                'displayName': '四月'
              },              {
                'value': 5,
                'displayName': '五月'
              },              {
                'value': 6,
                'displayName': '六月'
              },              {
                'value': 7,
                'displayName': '七月'
              },              {
                'value': 8,
                'displayName': '八月'
              },              {
                'value': 9,
                'displayName': '九月'
              },              {
                'value': 10,
                'displayName': '十月'
              },              {
                'value': 11,
                'displayName': '十一月'
              },              {
                'value': 12,
                'displayName': '十二月'
              }
            ];
            return array_month;
          }
          // ,set: function () {
          // }
        }
      },
      methods:{
        search: function() {
          if(this.searchRange.startDate !== '' && this.searchRange.endDate !== '') {
            let self = this;
            $.ajax({
              url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processLogReport.php',
              type: 'GET',
              data: {
                'searchRange': JSON.stringify(self.searchRange)
              },
              error: function(jqXHR, exception) {
                //use url variable here
                console.log(jqXHR);
                console.log(exception);
              },
              success: function(res) {
                console.log(res);
              }
            });
          } else {
            // error
          }
        }
      }
    });
  </script>
</body>
</html>