<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>資源管理系統</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/admin_index.css"/>
  </head>
<body>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div id="loginForm" class="login-frame">
      <div class="logo">
        <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
      </div>
      <div class="row">
        <div class="title">{{$t('message.adminIndex_account')}}</div>
        <div class="content">
          <input type="text" v-model="user.account">
        </div>
      </div>
      <div class="row">
        <div class="title">{{$t('message.adminIndex_password')}}</div>
        <div class="content">
          <input type="password" v-model="user.password">
        </div>
      </div>
      <div class="row verify-code">
        <div class="content">
          <div class="error">
            <span v-if="errorCode.type === 'passwordError'">{{$t('message.adminIndex_account_pwd_rror')}}</span>
            <span v-else-if="errorCode.type === 'verifyError'">{{$t('message.adminIndex_account_pwd_rror')}}</span>
          </div>
          <div class="codeBackground">
            <div>{{$t('message.adminIndex_verifyCode')}}</div>
            <input type="password" v-model="verifyCodeInput">
            <img class="codeImage" :src="imageData">
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button @click="logIn">{{$t('message.btn_login')}}</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="../lang/lang.js"></script>
  <script src="../lib/js/jquery.js"></script>
  <script src="../lib/js/verifyCode/canvas-verification-code.js"></script>
  <script type="text/javascript">
    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: ''
      },
      mounted: function() {
        this.selector_lang = i18n.locale;
      },
      methods: {
        setLang(event) {
          i18n.locale = event.target.value;
          localStorage.setItem('lang', event.target.value);
        }
      }
    })
    var loginForm = new Vue({
      el:'#loginForm',
      i18n,
      data: {
        user: {
          account: '',
          password: ''
        },
        errorCode: {
          show: false,
          type: ''
        },
        verifyCodeInput: '',
        imageData: '',
        codeText : ''
      },
      mounted() {
        const { code, data } = generateCode(120, 40);

        this.imageData = data;
        this.codeText  = code;
      },
      methods:{
        logIn() {
          if(this.verifyCodeInput.toUpperCase() === this.codeText.toUpperCase()) {
            let self = this;

            $.ajax({
              url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/login.php',
              xhrFields: {
                withCredentials: true
              },
              type: 'POST',
              // headers: {
              //   'ver': '1.0',
              //   'fileType': 'mp4',
              //   'md5': '47e954ec481d097e96261d993ec43ba5'
              // },
              data: {
                user: JSON.stringify(self.user)
              },
              error: function(jqXHR, exception) {
                //use url variable here
                console.log(jqXHR);
                console.log(exception);
              },
              success: function(res) {
                if(res.status === 'error') {
                  self.showLoginError('passwordError');
                } else if(res.status === 'success') {
                  // write the data in localstorage
                  localStorage.setItem('user', JSON.stringify(res.message));

                  // direct to main page
                  window.location.replace("manageResource.html");
                }
              }
            });            
          } else {
            this.showLoginError('verifyError');
          }
        },
        showLoginError(type) {
          let self = this;
          this.errorCode.show = true;
          this.errorCode.type = type;
          setTimeout(function(){
            self.errorCode.show = false;
            self.errorCode.type = '';
          }, 3000);
        }
      }
    });
  </script>
</body>
</html>