<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>設定</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/settings.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="../img/icon/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag">{{link.title}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index">{{link.title}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link">{{childLink.title}}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_settings')"></h1>
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <section id="generalSetting" class="setting-wrap">
      <div>
        <h2>{{$t('message.generalSetting')}}</h2>
        <div class="row">
          <div class="title">proxy</div>
          <div class="content">
            <input type="text" v-model="settings.proxy">
          </div>
        </div>
      </div>
      <div class="button-wrap">
        <button @click="updateSettings()">
          <img src="../img/icon/edit.svg"/>{{$t('message.btn_update')}}
        </button>
        <button v-if="btn_recovery.show" @click="recoverySettings()">{{$t('message.btn_recover')}}</button>
      </div>
    </section>
    <section id="toolsField" class="toolkit-setting-wrap">
      <div class="toolkits">
        <h1>{{$t('message.tools')}}</h1>
        <div class="row">
          <div class="title">
            {{$t('message.build_alphabet_stokes')}}
          </div>
          <div class="content">
            <button @click="buildStrokes()">{{$t('message.btn_execute')}}</button>
          </div>
        </div>
        <div class="row">
          <div class="title">
            {{$t('message.build_alphabet_list')}}
          </div>
          <div class="content">
            <button @click="buildStrokeAnchorList()">{{$t('message.btn_execute')}}</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="mask-dia" id="dialogue" v-if="show" :class="{ show: show }">
    <div class="dialogue-message-frame" v-if="status === 'update_success'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="closeDialogue">
      </div>
      <div class="dialogue-body">
        <div class="row">
          <div class="content">{{$t('message.dialogue_content_updateSuccess')}}</div>
        </div>
        <div class="btn-frame">
          <button @click="closeDialogue">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script src="../lib/js/verifyAuth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
<script src="../lang/lang.js"></script>
<script src="../lib/js/jquery.js"></script>
<script type="text/javascript">
  var header = new Vue({
    el:'#header',
    i18n,
    data: {
      template: {
        'en': [
        {
            title: 'Usage Report',
            link: 'usageReport.html',
            focus: false,
            child: []
          },
          {
            title: 'System',
            link: 'http://www.google.com',
            focus: false,
            child: [
              {
                title: 'Resource',
                link: 'manageResource.html',
                focus: false
              },
              {
                title: 'Subject',
                link: 'manageSubject.html',
                focus: false
              },
              {
                title: 'Latest News',
                link: 'manageLatestNews.html',
                focus: false
              },
              {
                title: 'Setting',
                link: 'manageSetting.html',
                focus: false
              }
            ]
          }
        ],
        'local': [
          {
            title: '使用率報告',
            link: 'usageReport.html',
            focus: false,
            child: []
          },
          {
            title: '系統',
            link: '#',
            focus: false,
            child: [
              {
                title: '資源管理',
                link: 'manageResource.html',
                focus: false
              },
              {
                title: '主題',
                link: 'manageSubject.html',
                focus: false
              },
              {
                title: '最新消息',
                link: 'manageLatestNews.html',
                focus: false
              },
              {
                title: '一般設定',
                link: 'manageSetting.html',
                focus: false
              }
            ]
          }
        ]
      },
      links: ''
    },
    mounted: function() {
      if(i18n.locale === 'en') {
        this.links = JSON.parse(JSON.stringify(this.template.en));
      } else if(i18n.locale === 'local') {
        this.links = JSON.parse(JSON.stringify(this.template.local));
      }
    },
    methods: {
      setLocale: function(language) {
        switch (language) {
          case 'en':
            this.links = JSON.parse(JSON.stringify(this.template.en));
            break;
          case 'local':
            this.links = JSON.parse(JSON.stringify(this.template.local));
            break;            
          default:
            this.links = JSON.parse(JSON.stringify(this.template.local));
            break;
        }
      }
    }
  })
  var toolsField = new Vue({
    el:'#toolsField',
    i18n,
    data: {
      btn_stroke: {
        loading: false
      },
      btn_stroke_list: {
        loading: false
      }
    },
    mounted: function() {
    },
    methods: {
      buildStrokeAnchorList: function() {
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/buildAnchorOfSearchKeyWord.php',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            if(res.status === 'expired') {
              window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
            } else {
              dialogue.setDialogue('update_success');
            }
          }
        });
      },
      buildStrokes: function() {
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/buildStrokeInResourceList.php',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            dialogue.setDialogue('update_success');
          }
        });
      },
    }
  })
  var mainTitle = new Vue({
    el:'#mainTitle',
    i18n,
    data: {
      selector_lang: ''
    },
    mounted: function() {
      console.log(i18n.locale)
      this.selector_lang = i18n.locale;
    },
    methods: {
      setLang(event) {
        i18n.locale = event.target.value;
        localStorage.setItem('lang', event.target.value);
        header.setLocale(event.target.value);
      }
    }
  })
  var dialogue = new Vue({
    el:'#dialogue',
    i18n,
    data: {
      show: false,
      status: ''
    },
    computed: {
      dialogueMessage: {
        get: function () {
          return this.message;
        }
        // ,set: function () {
        // }
      }
    },
    methods:{
      setDialogue: function(status) {
        this.status = status;
        this.show = true;
      },
      closeDialogue: function() {
        this.show = false;
      },
      deleteSubjectBlock: function() {
        subjectField.set_deleteSubjectBlock();
        this.show = false;
      }
    }
  });

  var settings = new Vue({
    el:'#generalSetting',
    i18n,
    data: {
      settings: {
        proxy: ''
      },
      settings_backup: {
        proxy: ''
      },
      btn_recovery: {
        show: false
      }
    },
    created: function() {
      this.getSettings();
    },
    watch: {
      settings: {
        handler: function(val, oldVal) {
          if(JSON.stringify(this.settings) === JSON.stringify(this.settings_backup)){
            this.btn_recovery.show = false;
          } else {
            this.btn_recovery.show = true;
          }
        },
        deep: true
      }
    },
    methods:{
      getSettings: function() {
        let self = this;
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getSetting.php',
          type: 'GET',
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            self.settings = res;
            // Object.assign(self.settings_backup, self.settings);
            self.settings_backup = JSON.parse(JSON.stringify(self.settings));
          }
        });
      },
      recoverySettings: function() {
        // Object.assign(this.settings, this.settings_backup);
        this.settings = JSON.parse(JSON.stringify(this.settings_backup));
      },
      updateSettings: function() {
        let self = this;

        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processSettings.php',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            settings: JSON.stringify(self.settings),
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            console.log(res);
            // open the dialogue
            dialogue.setDialogue('update_success');

            // refresh the general list
            self.getSettings();
          }
        });
      }
    }
  });
</script>