<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>身份設定</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/manageAuth.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
	   <a href="#">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
     </a>
    </div>
    <nav>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag" v-if="lang === 'en'">{{link.title.en}}</a>
            <a :href="link.link" class="nav-tag" v-else-if="lang === 'local'">{{link.title.local}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index" v-if="lang === 'en'">{{link.title.en}}</label>
            <label class="nav-tag" :for="'tag'+index" v-else-if="lang === 'local'">{{link.title.local}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link" v-if="lang === 'en'">{{childLink.title.en}}</a>
                <a :href="childLink.link" v-if="lang === 'local'">{{childLink.title.local}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a class="nav-tag" @click="logout">{{$t('message.header_logout')}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_identity')"></h1>
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div class="container" id="roleField">
      <section>
        <div class="row">
          <div class="title">{{$t('message.identity_validateIdentity')}}</div>
          <div class="content">
            <div class="switch-wrap">
              <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitch" v-model="settings.featureEnabled" @change="checkFeatureEnabled($event)">
                <label class="onoffswitch-label" for="onoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2>{{$t('message.identity_title_department')}}</h2>
        <ul>
          <li v-for="department_L1 in departmentData" v-if="!department_L1.hasOwnProperty('deleted')" class="level-1">
            <div class="row">
              <input type="text" v-model="department_L1.displayName" @change="updateRefDepartmentList(department_L1)">
              <div class="icon-wrap">
                <!-- <div class="icon-frame">
                  <img src="../img/icon/add.svg" @click="addIdentity(department_L1, 'department')"/>
                </div> -->
                <select v-model="selector_items" @change="onChange(selector_items)">
                  <option value="">{{$t('message.select_options')}}</option>
                  <option :value="'root'">{{$t('message.select_sameLevel')}}</option>
                  <option :value="department_L1">{{$t('message.select_nextLevel')}}</option>
                </select>
                <div class="icon-frame">
                  <img src="../img/icon/delete.svg" @click="deleteIdentity(department_L1, 'department')"/>
                </div>
              </div>
            </div>
            <ul v-if="department_L1.child.length > 0">
              <li v-for="department_L2 in department_L1.child" v-if="!department_L2.hasOwnProperty('deleted')" class="level-2">
                <div class="row">
                  <input type="text" v-model="department_L2.displayName" @change="updateRefDepartmentList(department_L1)">
                  <div class="icon-wrap">
                    <select v-model="selector_items" @change="onChange(selector_items)">
                      <option value="">{{$t('message.select_options')}}</option>
                      <option :value="department_L1">{{$t('message.select_sameLevel')}}</option>
                      <option :value="department_L2">{{$t('message.select_nextLevel')}}</option>
                    </select>
                    <!-- <div class="icon-frame">
                      <img src="../img/icon/add.svg" @click="addIdentity(department_L2, 'department')"/>
                    </div> -->
                    <div class="icon-frame">
                      <img src="../img/icon/delete.svg" @click="deleteIdentity(department_L2, 'department')"/>
                    </div>
                  </div>
                </div>
                <ul v-if="department_L2.child.length > 0">
                  <li v-for="department_L3 in department_L2.child" class="level-3" v-if="!department_L3.hasOwnProperty('deleted')">
                    <div class="row">
                      <input type="text" v-model="department_L3.displayName" @change="updateRefDepartmentList(department_L3)">
                      <div class="icon-wrap">
                        <select v-model="selector_items" @change="onChange(selector_items)">
                          <option value="">{{$t('message.select_options')}}</option>
                          <option :value="department_L2">{{$t('message.select_sameLevel')}}</option>
                        </select>
                        <div class="icon-frame">
                          <img src="../img/icon/delete.svg" @click="deleteIdentity(department_L3, 'department')"/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li v-if="noData.department" class="level-1">
            <div class="btn-wrap">
              <button @click="onChange('root')">{{$t('message.identity_addNewItem')}}</button>
            </div>
          </li>
        </ul>
      </section>
      <section class="setting-wrap">
        <h2>{{$t('message.identity_title_Identity')}}</h2>
        <ul>
          <li v-for="identity in identityData" v-if="!identity.hasOwnProperty('deleted')" class="level-1">
            <div class="row">
              <input type="text" v-model="identity.displayName" @change="updateRefIdentityList(identity)">
              <div class="icon-wrap">
                <!-- <div class="icon-frame">
                  <img src="../img/icon/add.svg" @click="addIdentity(identity, 'identity')"/>
                </div> -->
                <select v-model="selector_items" @change="onChange(selector_items)">
                  <option value="">{{$t('message.select_options')}}</option>
                  <option :value="'root_identity'">{{$t('message.select_sameLevel')}}</option>
                </select>
                <div class="icon-frame" v-if="identity.child.length === 0">
                  <img src="../img/icon/delete.svg" @click="deleteIdentity(identity, 'identity')"/>
                </div>
              </div>
            </div>
          </li>
          <li v-if="noData.identity" class="level-1">
            <div class="btn-wrap">
              <button @click="onChange('root_identity')">{{$t('message.identity_addNewItem')}}</button>
            </div>
          </li>
        </ul>
      </section>
      <div class="btn-wrap">
        <button @click="updateToServer()">{{$t('message.btn_update')}}</button>
      </div>
    </div>
  </div>
  <footer class="footer">
    <img src="../img/logo_white.svg">
    <p>© 2020 EBSCO Industries, Inc. All rights reserved</p>
  </footer>
  <div class="mask-dia" id="dialogue" v-if="show" :class="{ show: show }">
    <div class="cover" @click="closeDialogue()"></div>
    <div class="dialogue-message-frame" v-if="type === 'logout'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_logout')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else-if="type === 'expired'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_expired')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script src="../lib/js/basicParameters.js"></script>
<script src="../lib/js/verifyAuth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
<script src="../lang/lang.js"></script>
<script src="../lib/js/jquery.js"></script>
<script src="../lib/js/header_back.js"></script>
<script type="text/javascript">
  var mainTitle = new Vue({
    el: '#mainTitle',
    i18n,
    data: {
      selector_lang: ''
    },
    mounted: function() {
      this.selector_lang = i18n.locale;
    },
    methods: {
      setLang(event) {
        i18n.locale = event.target.value;
        localStorage.setItem('lang', event.target.value);

        // subjectField.setLocale(event.target.value);
        header.setLocale(event.target.value);
      }
    }
  })
  var roleField = new Vue({
    el:'#roleField',
    i18n,
    data: {
      settings: {
        featureEnabled: false
      },
      departmentData: [],
      identityData: [],
      ref_list: [],
      selector_items: '',
      noData: {
        department: false,
        identity: false
      }
    },
    created: function() {
      this.init();
    },
    mounted: function () {
    },
    watch: {
      departmentData: {
        handler: function(val, oldVal) {
          let result = true;
          this.departmentData.forEach(res => {
            if(!res.hasOwnProperty('deleted')) {
              result = false;
            }
          });
          this.noData.department = result;
        },
        deep: true
      },
      identityData: {
        handler: function(val, oldVal) {
          let result = true;
          this.identityData.forEach(res => {
            if(!res.hasOwnProperty('deleted')) {
              result = false;
            }
          });
          this.noData.identity = result;
        },
        deep: true
      }
    },
    methods:{
      init() {
        let self = this;
        $.ajax({
          url: `${apiPath}/getAuthList.php`,
          type: 'GET',
          error: function(jqXHR, exception) {
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            self.addResult(response);
          }
        });
        $.ajax({
          url: `${apiPath}/getAuthIdentityList.php`,
          type: 'GET',
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            self.ref_list = response;
          }
        });
      },
      addIdentity(Object, field) {
        let number = -1;
        if(field === 'department') {
          for(index in this.ref_list.userDepartment) {
            let temp = parseInt(this.ref_list.userDepartment[index].id, 10);
            if(temp > number) {
              number = temp;
            }
          }

          number++;

          let obj_forAuthList = {
            "value": number,
            "displayName": "",
            "child": []
          }
          console.log(Object);
          Object.child.push(obj_forAuthList);

          let obj_forAuthIdentity = {
            "id": number,
            "name": ""
          }
          this.ref_list.userDepartment.push(obj_forAuthIdentity);
        } else if(field === 'identity') {

        } else if(field === 'departmentRoot') {
          for(index in this.ref_list.userDepartment) {
            let temp = parseInt(this.ref_list.userDepartment[index].id, 10);
            if(temp > number) {
              number = temp;
            }
          }

          number++;

          let obj_forAuthList = {
            "value": number,
            "displayName": "",
            "child": []
          }
          console.log(Object);
          Object.push(obj_forAuthList);

          let obj_forAuthIdentity = {
            "id": number,
            "name": ""
          }
          this.ref_list.userDepartment.push(obj_forAuthIdentity);
        } else if(field === 'identityRoot') {
          for(index in this.ref_list.userIdentity) {
            let temp = parseInt(this.ref_list.userIdentity[index].id, 10);
            if(temp > number) {
              number = temp;
            }
          }

          number++;

          let obj_forAuthList = {
            "value": number,
            "displayName": "",
            "child": []
          }
          Object.push(obj_forAuthList);

          let obj_forAuthIdentity = {
            "id": number,
            "name": ""
          }
          this.ref_list.userIdentity.push(obj_forAuthIdentity);
        }
      },
      deleteIdentity(Object, field) {
        // check child node all deleted
        let exist = false;
        console.log(Object.child);
        console.log(Object.child.length);
        if(Object.child.length !== 0) {
          for(index in Object.child) {
            if(!Object.child[index].hasOwnProperty('deleted')) {
              exist = true;
            }
          }
        }

        if(!exist) {
          // mark delete for this Obj
          this.$set(Object, 'deleted', false);
          this.deleteInRefList(Object.value, field);
        } else {
          alert('請先刪除所有子項目!');
        }
      },
      deleteInRefList(number, part) {
        if(part === 'department') {
          for(index in this.ref_list.userDepartment) {
            if(this.ref_list.userDepartment[index].id.toString() === number.toString()) {
              this.ref_list.userDepartment[index]['deleted'] = true;
              break;
            }
          }
        } else if(part === 'identity') {
          for(index in this.ref_list.userDepartment) {
            if(this.ref_list.userIdentity[index].id.toString() === number.toString()) {
              this.ref_list.userIdentity[index]['deleted'] = true;
              break;
            }
          }
        }
      },
      updateToServer() {
        let list = {
          'department': this.departmentData,
          'identity': this.identityData
        }
        
        // ref_list
        let self = this;
        $.ajax({
          url: `${apiPath}/processAuth.php`,
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            type: 'updateList',
            processData: JSON.stringify(list)
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            if(response.status === 'expired') {
              dialogue.setDialogue('expired');
            } else {
              self.init();
              alert("更新成功");
            }
          }
        });

        $.ajax({
          url: `${apiPath}/processAuthIdentity.php`,
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            processData: JSON.stringify(self.ref_list)
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            self.init();
            console.log(response);
          }
        });
        // console.log(this.ref_list);
      },
      updateRefDepartmentList(Obj) {
        for(index in this.ref_list.userDepartment) {
          if(String(Obj.value) === String(this.ref_list.userDepartment[index].id)) {
            this.ref_list.userDepartment[index].name = Obj.displayName;
            break;
          }
        }
      },
      updateRefIdentityList(Obj) {
        for(index in this.ref_list.userIdentity) {
          if(String(Obj.value) === String(this.ref_list.userIdentity[index].id)) {
            this.ref_list.userIdentity[index].name = Obj.displayName;
            break;
          }
        }
      },
      checkFeatureEnabled(event) {
        let self = this;
        $.ajax({
          url: `${apiPath}/processAuth.php`,
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            type: 'updateSetting',
            processData: JSON.stringify(self.settings)
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            console.log(response);
          }
        });
      },
      addResult(result) {
        this.departmentData = result.department;
        this.identityData = result.identity;
        this.settings = result.settings;
      },
      onChange(item) {
        let number = -1;
        if(typeof item === 'string') {
          if(item === 'root') {
            for(index in this.ref_list.userDepartment) {
              let temp = parseInt(this.ref_list.userDepartment[index].id, 10);
              if(temp > number) {
                number = temp;
              }
            }

            number++;

            let obj_forAuthList = {
              "value": number,
              "displayName": "",
              "child": []
            }
            this.departmentData.push(obj_forAuthList);

            let obj_forAuthIdentity = {
              "id": number,
              "name": ""
            }
            this.ref_list.userDepartment.push(obj_forAuthIdentity);
          } else if (item === 'root_identity') {
            for(index in this.ref_list.userIdentity) {
              let temp = parseInt(this.ref_list.userIdentity[index].id, 10);
              if(temp > number) {
                number = temp;
              }
            }

            number++;

            let obj_forAuthList = {
              "value": number,
              "displayName": "",
              "child": []
            }
            this.identityData.push(obj_forAuthList);

            let obj_forAuthIdentity = {
              "id": number,
              "name": ""
            }
            this.ref_list.userIdentity.push(obj_forAuthIdentity);
          }
        } else if(typeof item === 'object') {
          for(index in this.ref_list.userDepartment) {
            let temp = parseInt(this.ref_list.userDepartment[index].id, 10);
            if(temp > number) {
              number = temp;
            }
          }

          number++;

          let obj_forAuthList = {
            "value": number,
            "displayName": "",
            "child": []
          }
          
          item.child.push(obj_forAuthList);

          let obj_forAuthIdentity = {
            "id": number,
            "name": ""
          }
          this.ref_list.userDepartment.push(obj_forAuthIdentity);
        }
        this.selector_items = '';
        
        // for(index in this.dataInfo) {
        //   if(this.dataInfo[index].id === event.target.value) {
        //     // console.log(this.dataInfo[index]);
        //     this.displayInfo = JSON.parse(JSON.stringify(this.dataInfo[index]));
        //   }
        // }
      }
    }
  });

  var dialogue = new Vue({
    el:'#dialogue',
    i18n,
    data: {
      show: false,
      type: '',
      error: {
        type: ''
      }
    },
    created: function() {
      // let userInfo = JSON.parse(localStorage.getItem('user'));
      // this.userAccount = userInfo.user;
    },
    computed: {
      dialogueMessage: {
        get: function () {
          return this.message;
        }
        // ,set: function () {
        // }
      }
    },
    methods:{
      setDialogue: function(status, data = '') {
        console.log(status);
        this.type = status;
        this.show = true;
      },
      showLoginError(type) {
        let self = this;
        this.error.type = type;
        setTimeout(function(){
          self.error.type = '';
        }, 3000);
      },
      backToLogin: function() {
        window.location.replace(backStagePath);
      },
      closeDialogue: function() {
        this.show = false;
      }
    }
  });
</script>
