<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>設定</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/manageSubject.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="../img/icon/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag">{{link.title}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index">{{link.title}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link">{{childLink.title}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a class="nav-tag" @click="logout">{{$t('message.header_logout')}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_subject')"></h1>
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <section id="subjectSetField" class="setting-wrap">
      <!-- <span v-t="'message.h1_Settings'"></span> -->
      <div class="subject-frame" v-for="(subjectInfo, index) in subjects">
        <button class="btn-icon delete-subject-block" name="刪除整個主題區" title="刪除整個主題區" @click="deleteSubjectBlock(subjectInfo)"><img src="../img/icon/delete.svg"/></button>
        <div class="tag-wrap">
          <button @click="changeTag(subjectInfo, 'local')" :class="[subjectInfo.tag === 'local'? 'taged': '']">{{$t('message.tag_chinese')}}</button>
          <button @click="changeTag(subjectInfo, 'en')" :class="[subjectInfo.tag === 'en'? 'taged': '']">{{$t('message.tag_english')}}</button>
        </div>
        <div class="multi-lang-field" v-show="subjectInfo.tag === 'en'">
          <h3 class="subject-header">
            <div class="title">{{$t('message.subject_title')}}</div>
            <input type="text" v-model="subjectInfo.subjectTitle.en">
          </h3>
          <ul>
            <li v-for="(subject, subject_index) in subjectInfo.subjectList">
              <div class="title">{{$t('message.subject_name')}}</div>
              <input type="text" v-model="subject.name.en">
              <select v-model="subject.className" class="subject-class">
                <option v-for="option in subjectOptions" :value="option.className">{{option.displayName}}
              </select>
              <button @click="deleteSubject(index, subject)" class="btn-icon" name="刪除這項主題" title="刪除這項主題"><img src="../img/icon/delete.svg"/></button>
            </li>
          </ul>
        </div>
        <div class="multi-lang-field" v-show="subjectInfo.tag === 'local'">
          <h3 class="subject-header">
            <div class="title">{{$t('message.subject_title')}}</div>
            <input type="text" v-model="subjectInfo.subjectTitle.local">
          </h3>
          <ul>
            <li v-for="(subject, subject_index) in subjectInfo.subjectList">
              <div class="title">{{$t('message.subject_name')}}</div>
              <input type="text" v-model="subject.name.local">
              <select v-model="subject.className" class="subject-class">
                <option v-for="option in subjectOptions" :value="option.className">{{option.displayName}}
              </select>
              <button @click="deleteSubject(index, subject)" class="btn-icon" name="刪除這項主題" title="刪除這項主題"><img src="../img/icon/delete.svg"/></button>
            </li>
          </ul>
        </div>
        <div class="button-wrap">
          <button class="btn-edit" @click="updateList(subjectInfo)">
            <img src="../img/icon/edit.svg"/>{{$t('message.btn_update')}}
          </button>
          <button class="btn-add" @click="addNewSubject(subjectInfo.subjectID)">
            <img src="../img/icon/add.svg"/>{{$t('message.subject_create_subject')}}
          </button>
        </div>
      </div>
      <div class="button-wrap">
        <button class="btn-add-subject-block" @click="addNewSubjectBlock">
          <img src="../img/icon/add.svg"/>{{$t('message.subject_create_subject_item')}}
        </button>
      </div>
    </section>
  </div>
  <div class="mask-dia" id="dialogue" v-if="show" :class="{ show: show }">
    <div class="dialogue-message-frame" v-if="type === 'logout'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_logout')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else-if="type === 'expired'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_expired')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else-if="type === 'message'">
      <div class="dialogue-head">
        <h4>{{dialogHead_title}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="closeDialogue">
      </div>
      <div class="dialogue-body">
        <div class="row">
          <div class="content">{{message.content}}</div>
        </div>
        <div class="btn-frame">
          <button @click="closeDialogue">{{$t('message.btn_confirm')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else-if="type === 'deleteSubjectBlock'">
      <div class="dialogue-head">
        <h4>{{dialogHead_title}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="closeDialogue">
      </div>
      <div class="dialogue-body">
        <div class="row">
          <div class="warning" v-if="message.warning !== ''">{{message.warning}}</div>
          <div class="content" v-else>{{message.content}}</div>
        </div>
        <div class="btn-frame">
          <button @click="deleteSubjectBlock">{{$t('message.btn_confirm')}}</button>
          <button @click="closeDialogue">{{$t('message.btn_cancel')}}</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script src="../lib/js/verifyAuth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
<script src="../lang/lang.js"></script>
<script src="../lib/js/jquery.js"></script>
<script type="text/javascript">
  var header = new Vue({
    el:'#header',
    i18n,
    data: {
      template: {
        'en': [
          {
            title: 'Usage Report',
            link: 'usageReport.html',
            focus: false,
            child: []
          },
          {
            title: 'System',
            link: 'http://www.google.com',
            focus: false,
            child: [
              {
                title: 'Resource',
                link: 'manageResource.html',
                focus: false
              },
              {
                title: 'Subject',
                link: 'manageSubject.html',
                focus: false
              },
              {
                title: 'Latest News',
                link: 'manageLatestNews.html',
                focus: false
              },
              {
                title: 'Setting',
                link: 'manageSetting.html',
                focus: false
              }
            ]
          }
        ],
        'local': [
          {
            title: '使用率報告',
            link: 'usageReport.html',
            focus: false,
            child: []
          },
          {
            title: '系統',
            link: '#',
            focus: false,
            child: [
              {
                title: '資源管理',
                link: 'manageResource.html',
                focus: false
              },
              {
                title: '主題',
                link: 'manageSubject.html',
                focus: false
              },
              {
                title: '最新消息',
                link: 'manageLatestNews.html',
                focus: false
              },
              {
                title: '一般設定',
                link: 'manageSetting.html',
                focus: false
              }
            ]
          }
        ]
      },
      links: ''
    },
    mounted: function() {
      if(i18n.locale === 'en') {
        this.links = JSON.parse(JSON.stringify(this.template.en));
      } else if(i18n.locale === 'local') {
        this.links = JSON.parse(JSON.stringify(this.template.local));
      }
    },
    methods: {
      setLocale: function(language) {
        switch (language) {
          case 'en':
            this.links = JSON.parse(JSON.stringify(this.template.en));
            break;
          case 'local':
            this.links = JSON.parse(JSON.stringify(this.template.local));
            break;            
          default:
            this.links = JSON.parse(JSON.stringify(this.template.local));
            break;
        }
      },
      logout() {
        localStorage.removeItem('user');
        dialogue.setDialogue('logout', 'logout');
      }
    }
  })
  var mainTitle = new Vue({
    el:'#mainTitle',
    i18n,
    data: {
      selector_lang: ''
    },
    mounted: function() {
      this.selector_lang = i18n.locale;
    },
    methods: {
      setLang(event) {
        i18n.locale = event.target.value;
        localStorage.setItem('lang', event.target.value);

        subjectField.setLocale(event.target.value);
        header.setLocale(event.target.value);
      }
    }
  })
  var dialogue = new Vue({
    el:'#dialogue',
    i18n,
    data: {
      show: false,
      type: '',
      dialogHead_title: '',
      message: {
        title: '',
        content: '',
        warning: ''
      }
    },
    computed: {
      dialogueMessage: {
        get: function () {
          return this.message;
        }
        // ,set: function () {
        // }
      }
    },
    methods:{
      setDialogue: function(type, messageInfo) {
        this.type = type;
        this.message = messageInfo;
        this.show = true;
        switch (type) {
          case 'deleteSubjectBlock':
            this.dialogHead_title = '注意';
            break;
          default:
            this.dialogHead_title = '訊息';
            break;
        }
      },
      closeDialogue: function() {
        this.show = false;
      },
      backToLogin: function() {
        window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
      },
      deleteSubjectBlock: function() {
        subjectField.set_deleteSubjectBlock();
        this.show = false;
      }
    }
  });
  var subjectField = new Vue({
    el:'#subjectSetField',
    i18n,
    data: {
      subjects: '',
      subjectOptions: [],
      delete_tempSubject: '',
      options_template: {
        'en': [
          {
            className: 'resourceType',
            displayName: 'Resource Type'
          },
          {
            className: 'faculty',
            displayName: 'Faculty'
          },
          {
            className: 'subject',
            displayName: 'Subject'
          },
          {
            className: 'category',
            displayName: 'Category'
          },
          {
            className: 'type',
            displayName: 'Resource Type'
          },
          {
            className: 'publisher',
            displayName: 'Publisher'
          },
          {
            className: 'default',
            displayName: 'Options'
          }
        ],
        'local': [
          {
            className: 'resourceType',
            displayName: '資源類型'
          },
          {
            className: 'faculty',
            displayName: '適用學院'
          },
          {
            className: 'subject',
            displayName: '主題'
          },
          {
            className: 'category',
            displayName: '分類'
          },
          {
            className: 'type',
            displayName: '類型'
          },
          {
            className: 'publisher',
            displayName: '出版商'
          },
          {
            className: 'default',
            displayName: '請選擇欄位'
          }
        ]
      }
    },
    created: function() {
      // Setting the options
      if("lang" in localStorage) {
        this.setLocale(localStorage.getItem('lang'));
      } else {
        this.setLocale('local');
      }

      this.buildSubjectList();
    },
    mounted: function () {
      // console.log(this.$t('message.minwt'));
    },
    methods:{
      buildSubjectList: function () {
        let self = this;
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getSubject.php',
          type: 'GET',
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            let temp = res;
            for(let index in temp) {
              temp[index]['tag'] = 'local';
            }
            self.subjects = temp;;
          }
        });
      },
      setLocale: function (type) {
        if(type === 'en') {
          this.subjectOptions = JSON.parse(JSON.stringify(this.options_template.en));
        } else {
          this.subjectOptions = JSON.parse(JSON.stringify(this.options_template.local));
        }
      },
      addNewSubjectBlock: function() {
        let self = this;
        const template =   {
          "subjectTitle": {
            "en": "",
            "local": ""
          },
          "subjectList": []
        }

        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processSubject.php',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            type: 'add',
            subject: JSON.stringify(template)
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            if(res.status === 'expired') {
              window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
            } else {
              self.buildSubjectList();
            }
          }
        });
      },
      updateList: function(subject) {
        let self = this;
        let post_subject = JSON.stringify(subject);
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processSubject.php',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            type: 'modify',
            subject: post_subject
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            if(res.status === 'expired') {
              dialogue.setDialogue('expired', 'expired');
              // window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
            } else {
              let messageInfo = {
                title: '',
                content: '更新成功',
                warning: ''
              }
              dialogue.setDialogue('message', messageInfo);
              self.buildSubjectList();
            }
          }
        });
      },
      addNewSubject: function(subjectID) {
        this.subjects.forEach(res => {
          if(res.subjectID === subjectID) {
            let object = {
              "name": {
                'en': '',
                'local': ''
              },
              "className": "default"
            }
            res.subjectList.push(object);
          }
        })
      },
      deleteSubject: function(index, subject) {
        this.subjects[index].subjectList.splice(this.subjects[index].subjectList.indexOf(subject), 1);
      },
      deleteSubjectBlock: function(subjectBlock) {
        this.delete_tempSubject = subjectBlock;
        let messageInfo = {
          title: '',
          content: '',
          warning: `您確定要刪除嗎?`
        }
        dialogue.setDialogue('deleteSubjectBlock', messageInfo);
        // this.subjects.splice(this.subjects.indexOf(subjectBlock), 1);
      },
      set_deleteSubjectBlock: function() {
        let self = this;
        let post_subjectBlock = JSON.stringify(this.delete_tempSubject);

        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processSubject.php',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            type: 'delete',
            subject: post_subjectBlock
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(res) {
            if(res.status === 'expired') {
              dialogue.setDialogue('expired', 'expired');
              // window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
            } else {
              self.buildSubjectList();
            }
          }
        });
      },
      changeTag(obj, lang) {
        obj.tag = lang;
      }
    }
  });
</script>