<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>資料庫</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/manageResource.css"/>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="../img/icon/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag">{{link.title}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index">{{link.title}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link">{{childLink.title}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a class="nav-tag" @click="logout">{{$t('message.header_logout')}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <button class="add-new-button" onclick="addNew()">
    <img src="../img/icon/add.svg"/>
  </button>
  <div class="app-content">
    <section id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_resource_management')"></h1>
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </section>
    <div id="listField" class="list-field">
      <div class="search-wrap">
        <div class="search-frame">
          <input type="text" class="search" placeholder="搜尋資源" v-model="searchKeyword" />
        </div>
      </div>
      <div class="list-container">
        <div v-for="(database, index) in databaseList" class="resource-wrap" v-if="(database.en.resourceName.toUpperCase().match(searchKeyword.toUpperCase())!=null || database.local.resourceName.toUpperCase().match(searchKeyword.toUpperCase())!=null)">
          <div class="button-wrap">
            <button @click="modifyResource(database)"><img src="../img/icon/edit.svg"/></button>
            <button @click="deleteResource(database)"><img src="../img/icon/delete.svg"/></button>
          </div>
          <div class="tag-wrap">
            <button @click="changeTag(database, 'local')" :class="[database.tag === 'local'? 'taged': '']">{{$t('message.tag_chinese')}}</button>
            <button @click="changeTag(database, 'en')" :class="[database.tag === 'en'? 'taged': '']">{{$t('message.tag_english')}}</button>
          </div>
          <div class="multi-lang-field">
            <div v-if="database.tag === 'local'">
              <div class="row">
                <div class="title">{{$t('message.resource_resourceName')}}</div>
                <div class="content">{{database.local.resourceName}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_resourceType')}}</div>
                <div class="content">{{database.local.resourceType}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_faculty')}}</div>
                <div class="content">{{database.local.faculty}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_department')}}</div>
                <div class="content">{{database.local.department}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_subject')}}</div>
                <div class="content">{{database.local.subject}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_category')}}</div>
                <div class="content">{{database.local.category}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_publisher')}}</div>
                <div class="content">{{database.local.publish}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_language')}}</div>
                <div class="content">{{database.local.language}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_resourceDescribe')}}</div>
                <div class="content">{{database.local.resourceDescribe}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_relevanceUrlDescribe')}}</div>
                <div class="content">{{database.local.relevanceUrlDescribe}}</div>
              </div>
            </div>
            <div v-else-if="database.tag === 'en'">
              <div class="row">
                <div class="title">{{$t('message.resource_resourceName')}}</div>
                <div class="content">{{database.en.resourceName}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_resourceType')}}</div>
                <div class="content">{{database.en.resourceType}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_faculty')}}</div>
                <div class="content">{{database.en.faculty}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_department')}}</div>
                <div class="content">{{database.en.department}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_subject')}}</div>
                <div class="content">{{database.en.subject}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_category')}}</div>
                <div class="content">{{database.en.category}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_publisher')}}</div>
                <div class="content">{{database.en.publish}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_language')}}</div>
                <div class="content">{{database.en.language}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_resourceDescribe')}}</div>
                <div class="content">{{database.en.resourceDescribe}}</div>
              </div>
              <div class="row">
                <div class="title">{{$t('message.resource_relevanceUrlDescribe')}}</div>
                <div class="content">{{database.en.relevanceUrlDescribe}}</div>
              </div>
            </div>
          </div>
          <div class="common-field">
            <div class="row">
              <div class="title">{{$t('message.resource_resourceUrl')}}</div>
              <div class="content">{{database.relevanceUrl}}</div>
            </div>
            <div class="row">
              <div class="title">{{$t('message.resource_startDate')}}</div>
              <div class="content">{{database.startDate}}</div>
            </div>
            <div class="row">
              <div class="title">{{$t('message.resource_expireDate')}}</div>
              <div class="content">{{database.expireDate}}</div>
            </div>
            <div class="row">
              <div class="title">{{$t('message.resource_isProxy')}}</div>
              <div class="content">{{database.isProxy}}</div>
            </div>
            <div class="row">
              <div class="title">{{$t('message.resource_resourceUrl')}}</div>
              <div class="content">{{database.resourceUrl}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mask" id="fillForm" v-if="show" :class="{ show: show }">
    <div class="dialogue-frame">
      <img src="../img/icon/close.svg" class="close" @click="closeForm">
      <div class="tag-wrap">
        <button @click="changeTag(resource, 'local')" :class="[resource.tag === 'local'? 'taged': '']">{{$t('message.tag_chinese')}}</button>
        <button @click="changeTag(resource, 'en')" :class="[resource.tag === 'en'? 'taged': '']">{{$t('message.tag_english')}}</button>
      </div>
      <div class="dialogue-content">
        <div class="multiple-lang-field" v-show="resource.tag === 'en'">
          <div class="row">
            <div class="title">{{$t('message.resource_resourceName')}}</div>
            <input type="text" v-model="resource.en.resourceName">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_resourceType')}}</div>
            <input type="text" v-model="resource.en.resourceType">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_faculty')}}</div>
            <input type="text" v-model="resource.en.faculty">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_department')}}</div>
            <input type="text" v-model="resource.en.department">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_subject')}}</div>
            <input type="text" v-model="resource.en.subject">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_category')}}</div>
            <input type="text" v-model="resource.en.category">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_publisher')}}</div>
            <input type="text" v-model="resource.en.publish">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_language')}}</div>
            <input type="text" v-model="resource.en.language">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_resourceDescribe')}}</div>
            <textarea v-model="resource.en.resourceDescribe" name="editor_en"></textarea>
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_relevanceUrlDescribe')}}</div>
            <input type="text" v-model="resource.en.relevanceUrlDescribe">
          </div>
        </div>
        <div class="multiple-lang-field" v-show="resource.tag === 'local'">
          <div class="row">
            <div class="title">{{$t('message.resource_resourceName')}}</div>
            <input type="text" v-model="resource.local.resourceName">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_resourceType')}}</div>
            <input type="text" v-model="resource.local.resourceType">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_faculty')}}</div>
            <input type="text" v-model="resource.local.faculty">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_department')}}</div>
            <input type="text" v-model="resource.local.department">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_subject')}}</div>
            <input type="text" v-model="resource.local.subject">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_category')}}</div>
            <input type="text" v-model="resource.local.category">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_publisher')}}</div>
            <input type="text" v-model="resource.local.publish">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_language')}}</div>
            <input type="text" v-model="resource.local.language">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_resourceDescribe')}}</div>
            <textarea v-model="resource.local.resourceDescribe" name="editor_local"></textarea>
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_relevanceUrlDescribe')}}</div>
            <input type="text" v-model="resource.local.relevanceUrlDescribe">
          </div>
        </div>
        <div class="common-field">
          <div class="row">
            <div class="title">{{$t('message.resource_relevanceUrl')}}</div>
            <input type="text" v-model="resource.relevanceUrl">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_startDate')}}</div>
            <input type="date" v-model="resource.startDate">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_expireDate')}}</div>
            <input type="date" v-model="resource.expireDate">
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_isProxy')}}</div>
            <div class="content">
              <select v-model="resource.isProxy">
                <option value="true">{{$t('message.resource_select_yes')}}</option>
                <option value="false">{{$t('message.resource_select_no')}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="title">{{$t('message.resource_resourceUrl')}}</div>
            <input type="text" v-model="resource.resourceUrl">
          </div>
        </div>
      </div>
      <div class="btn-frame">
        <button v-if="btnType === 'add'" @click="sendForm">{{$t('message.resource_btn_add')}}</button>
        <button v-else-if="btnType === 'modify'" @click="sendForm">{{$t('message.resource_btn_modify')}}</button>
      </div>
    </div>
  </div>
  <div class="mask" id="dialogue" v-if="show" :class="{ show: show }">
    <div class="dialogue-message-frame" v-if="type === 'logout'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_logout')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else-if="type === 'expired'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_expired')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else>
      <div class="dialogue-head">
        <h4>{{title}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="closeDialogue">
      </div>
      <div class="dialogue-body" v-if="type === 'deleteResource'">
        {{message}} <span class="resource-name">{{resourceName}}</span>?
        <div class="btn-frame">
          <button @click="deleteResource">確定</button>
          <button @click="closeDialogue">取消</button>
        </div>
      </div>
      <div class="dialogue-body" v-else>
        {{message}}
        <div class="btn-frame">
          <button @click="closeDialogue">確定</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../lib/js/verifyAuth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="../lang/lang.js"></script>
  <script src="../lib/js/jquery.js"></script>
  <script type="text/javascript">
    var header = new Vue({
      el:'#header',
      i18n,
      data: {
        template: {
          'en': [
          {
              title: 'Usage Report',
              link: 'usageReport.html',
              focus: false,
              child: []
            },
            {
              title: 'System',
              link: 'http://www.google.com',
              focus: false,
              child: [
                {
                  title: 'Resource',
                  link: 'manageResource.html',
                  focus: false
                },
                {
                  title: 'Subject',
                  link: 'manageSubject.html',
                  focus: false
                },
                {
                  title: 'Latest News',
                  link: 'manageLatestNews.html',
                  focus: false
                },
                {
                  title: 'Setting',
                  link: 'manageSetting.html',
                  focus: false
                }
              ]
            }
          ],
          'local': [
            {
              title: '使用率報告',
              link: 'usageReport.html',
              focus: false,
              child: []
            },
            {
              title: '系統',
              link: '#',
              focus: false,
              child: [
                {
                  title: '資源管理',
                  link: 'manageResource.html',
                  focus: false
                },
                {
                  title: '主題',
                  link: 'manageSubject.html',
                  focus: false
                },
                {
                  title: '最新消息',
                  link: 'manageLatestNews.html',
                  focus: false
                },
                {
                  title: '一般設定',
                  link: 'manageSetting.html',
                  focus: false
                }
              ]
            }
          ]
        },
        links: ''
      },
      mounted: function() {
        if(i18n.locale === 'en') {
          this.links = JSON.parse(JSON.stringify(this.template.en));
        } else if(i18n.locale === 'local') {
          this.links = JSON.parse(JSON.stringify(this.template.local));
        }
      },
      methods: {
        setLocale: function(language) {
          this.links = language;
        },
        logout() {
          localStorage.removeItem('user');
          dialogue.setDialogue('logout', 'logout');
        }
      }
    })

    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: ''
      },
      mounted: function() {
        this.selector_lang = i18n.locale;
      },
      methods: {
        setLang(event) {
          i18n.locale = event.target.value;
          localStorage.setItem('lang', event.target.value);
          dataList.setLocale(event.target.value);
          header.setLocale(event.target.value);
        }
      }
    })
    function addNew() {
      fillForm.setForm('add', '');
    }
    function replaceCKEditor() {
      setTimeout(()=>{
        CKEDITOR.replace( 'editor_en' );
        CKEDITOR.replace( 'editor_local' );
      }, 1000);
    }

    function getEditorData_local() {
      return CKEDITOR.instances.editor_local.getData();
    }
    function getEditorData_en() {
      return CKEDITOR.instances.editor_en.getData();
    }

    var dataList = new Vue({
      el:'#listField',
      i18n,
      data: {
        searchKeyword: '',
        databaseList: [],
        lang: ''
      },
      created: function() {
        if("lang" in localStorage) {
          this.lang = localStorage.getItem('lang');
        } else {
          this.lang = 'local';
        }

        this.getDatabaseList();
      },
      methods:{
        getDatabaseList: function() {
          let self = this;
          $.ajax({
            url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getResourceListOriginal.php',
            type: 'GET',
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              let temp = res;
              for(let index in temp) {
                temp[index]['tag'] = self.lang;
              }
              self.databaseList = temp;
            }
          });
        },
        modifyResource: function(database) {
          fillForm.setForm('modify', database);
        },
        deleteResource: function(database) {
          dialogue.setDialogue('deleteResource', database);
        },
        setLocale: function(language) {
          this.lang = language;
        },
        changeTag(obj, lang) {
          obj.tag = lang;
        }
      }
    });

    var fillForm = new Vue({
      el:'#fillForm',
      i18n,
      data: {
        show: false,
        btnType: '',
        sendType: '',
        resource: '',
        template: {
          "resourceUrl": "",
          "isProxy": false,
          "startDate": "",
          "expireDate": "",
          "relevanceUrl": "",
          "tag": "local",
          "en":{
            "resourceName": "",
            "resourceType": "",
            "faculty": "",
            "department": "",
            "subject": "",
            "category": "",
            "publish": "",
            "language": "",
            "resourceDescribe": "",
            "relevanceUrlDescribe": ""
          },
          "local":{
            "resourceName": "",
            "resourceType": "",
            "faculty": "",
            "department": "",
            "subject": "",
            "category": "",
            "publish": "",
            "language": "",
            "resourceDescribe": "",
            "relevanceUrlDescribe": ""
          }
        }
      },
      methods:{
        setForm: function(type, database) {
          if(type === 'modify') {
            // check the time formate
            if(database.startDate.trim() !== '') {
              database.startDate = this.processDateFormate(database.startDate);
            }
            if(database.expireDate.trim() !== '') {
              database.expireDate = this.processDateFormate(database.expireDate);
            }
            this.btnType = 'modify';
            this.resource = JSON.parse(JSON.stringify(database));
          } else if(type === 'add') {
            this.btnType = 'add';
            this.resource = JSON.parse(JSON.stringify(this.template));
          }
          this.sendType = type;
          this.show = true;
          replaceCKEditor();
        },
        processDateFormate(date) {
          date = date.replace(/\//g, '-');
          let temp = date.split("-");
          if(temp[1].length < 2) {
            temp[1] = `0${temp[1]}`;
          }
          if(temp[2].length < 2) {
            temp[2] = `0${temp[2]}`;
          }
          return `${temp[0]}-${temp[1]}-${temp[2]}`;
        },
        changeTag(resource, langType) {
          resource.tag = langType;
        },
        sendForm() {
          // get the CKEditor data
          let editorData_local = getEditorData_local();
          let editorData_en = getEditorData_en();
          this.resource.local.resourceDescribe = editorData_local;
          this.resource.en.resourceDescribe = editorData_en;
          
          let resourceData = JSON.stringify(this.resource);
          let self = this;
          $.ajax({
            url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processResource.php',
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            data: {
              type: self.sendType,
              resource: resourceData
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              if(res.status === "expired") {
                dialogue.setDialogue('expired', 'expired');
                // window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
              } else {
                dataList.getDatabaseList();
                self.closeForm();
                let dialogueType = `${self.sendType}_success`
                dialogue.setDialogue(dialogueType);
              }
            }
          });
        },
        closeForm: function() {
          this.show = false;
        }
      }
    });
    var dialogue = new Vue({
      el:'#dialogue',
      i18n,
      data: {
        show: false,
        type: '',
        title: '測試標題',
        message: '測試內容',
        resourceName: '',
        resource: ''
      },
      methods:{
        setDialogue: function(type, database = '') {
          this.type = type;
          switch (type) {
            case 'deleteResource':
              this.title = '注意';
              this.message = `您確定要刪除`;
              this.resourceName = database.resourceName;
              this.resource = JSON.stringify(database);
              break;
            case 'add_success':
              this.title = '訊息';
              this.message = '新增成功';
              break;
            case 'modify_success':
              this.title = '訊息';
              this.message = '修改成功';
              break;
            case 'delete_success':
              this.title = '訊息';
              this.message = '刪除成功';
              break;
          }
          this.show = true;
        },
        deleteResource: function() {
          let self = this;
          $.ajax({
            url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processResource.php',
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            data: {
              type: 'delete',
              resource: self.resource
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              if(res.status === 'expired') {
                dialogue.setDialogue('expired', 'expired');
                // window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
              } else {
                dataList.getDatabaseList();
                self.setDialogue('delete_success');
              }
            }
          });
        },
        backToLogin: function() {
          window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
        },
        closeDialogue: function() {
          this.show = false;
        }
      }
    });
  </script>
</body>
</html>