<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>身份設定</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/manageAuth.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag" v-if="lang === 'en'">{{link.title.en}}</a>
            <a :href="link.link" class="nav-tag" v-else-if="lang === 'local'">{{link.title.local}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index" v-if="lang === 'en'">{{link.title.en}}</label>
            <label class="nav-tag" :for="'tag'+index" v-else-if="lang === 'local'">{{link.title.local}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link" v-if="lang === 'en'">{{childLink.title.en}}</a>
                <a :href="childLink.link" v-if="lang === 'local'">{{childLink.title.local}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a class="nav-tag" @click="logout">{{$t('message.header_logout')}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_subject')"></h1>
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div class="container" id="roleField">
      <section>
        <div class="row">
          <div class="title">身份驗證功能</div>
          <div class="content">
            <div class="switch-wrap">
              <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitch" v-model="settings.featureEnabled" @change="checkFeatureEnabled($event)">
                <label class="onoffswitch-label" for="onoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="setting-wrap">
        <div v-for="option in departmentData">
          
        </div>
        {{identityData}}
      </section>
    </div>
  </div>
  <footer class="footer">
    <img src="../img/logo_white.svg">
    <p>© 2020 EBSCO Industries, Inc. All rights reserved</p>
  </footer>
</body>
</html>
<!-- <script src="../lib/js/verifyAuth.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
<script src="../lang/lang.js"></script>
<script src="../lib/js/jquery.js"></script>
<script src="../lib/js/header_back.js"></script>
<script type="text/javascript">
  var mainTitle = new Vue({
    el:'#mainTitle',
    i18n,
    data: {
      selector_lang: ''
    },
    mounted: function() {
      this.selector_lang = i18n.locale;
    },
    methods: {
      setLang(event) {
        i18n.locale = event.target.value;
        localStorage.setItem('lang', event.target.value);

        subjectField.setLocale(event.target.value);
        header.setLocale(event.target.value);
      }
    }
  })
  var dialogue = new Vue({
    el:'#dialogue',
    i18n,
    data: {
      show: false,
      type: '',
      dialogHead_title: '',
      message: {
        title: '',
        content: '',
        warning: ''
      }
    },
    computed: {
      dialogueMessage: {
        get: function () {
          return this.message;
        }
        // ,set: function () {
        // }
      }
    },
    methods:{
      setDialogue: function(type, messageInfo) {
        this.type = type;
        this.message = messageInfo;
        this.show = true;
        switch (type) {
          case 'deleteSubjectBlock':
            this.dialogHead_title = '注意';
            break;
          default:
            this.dialogHead_title = '訊息';
            break;
        }
      },
      closeDialogue: function() {
        this.show = false;
      },
      backToLogin: function() {
        window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
      },
      deleteSubjectBlock: function() {
        subjectField.set_deleteSubjectBlock();
        this.show = false;
      }
    }
  });
  var roleField = new Vue({
    el:'#roleField',
    i18n,
    data: {
      settings: {
        featureEnabled: false
      },
      departmentData: [],
      identityData: []
    },
    created: function() {
      let self = this;
      $.ajax({
        url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/getAuthList.php',
        type: 'GET',
        error: function(jqXHR, exception) {
          //use url variable here
          console.log(jqXHR);
          console.log(exception);
        },
        success: function(response) {
          self.addResult(response);
        }
      });
    },
    mounted: function () {
      // console.log(this.$t('message.minwt'));
    },
    methods:{
      checkFeatureEnabled(event) {
        let self = this;
        $.ajax({
          url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processAuth.php',
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            type: 'updateSetting',
            processData: JSON.stringify(self.settings)
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            console.log(response);
          }
        });
      },
      addResult(result) {
        this.departmentData = result.department;
        this.identityData = result.identity;
        this.settings = result.settings;
      }
    }
  });
</script>