<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>最新消息</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/manageLatestNews.css?v=1.1"/>
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
  </head>
<body>
  <header id="header">
    <div class="logo">
 	   <a href="#">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
     </a>
    </div>
    <nav>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag" v-if="lang === 'en'">{{link.title.en}}</a>
            <a :href="link.link" class="nav-tag" v-else-if="lang === 'local'">{{link.title.local}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index" v-if="lang === 'en'">{{link.title.en}}</label>
            <label class="nav-tag" :for="'tag'+index" v-else-if="lang === 'local'">{{link.title.local}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link" v-if="lang === 'en'">{{childLink.title.en}}</a>
                <a :href="childLink.link" v-if="lang === 'local'">{{childLink.title.local}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a class="nav-tag" @click="logout">{{$t('message.header_logout')}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <button class="add-new-button" onclick="addNews()">
    <img src="../img/icon/add.svg"/>
  </button>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_latestNews')"></h1>
      <div class="lang-wrap">
        <img src="../img/icon/language.svg"/>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div id="latestNewsListField" class="latestNews-field">
      <div class="latestNews-wrap form-setting">
        <h3><img src="../img/icon/settings.svg"/>{{$t('message.latest_form_setting')}}</h3>
        <div class="button-wrap">
          <button @click="updateNewsField()"><img src="../img/icon/edit.svg"/></button>
        </div>
        <div class="tag-wrap">
          <button @click="changeTag(latestNewsField, 'local')" :class="[latestNewsField.tag === 'local'? 'taged': '']">{{$t('message.tag_chinese')}}</button>
          <button @click="changeTag(latestNewsField, 'en')" :class="[latestNewsField.tag === 'en'? 'taged': '']">{{$t('message.tag_english')}}</button>
        </div>
        <div class="multi-lang-field">
          <div class="row" v-if="latestNewsField.tag === 'local'">
            <div class="title">{{$t('message.latest_form_name')}}</div>
            <div class="content">{{latestNewsField.bulletinTitle.local}}</div>
          </div>
          <div class="row" v-else-if="latestNewsField.tag === 'en'">
            <div class="title">{{$t('message.latest_form_name')}}</div>
            <div class="content">{{latestNewsField.bulletinTitle.en}}</div>
          </div>
        </div>
        <div class="common-field">
          <div class="row">
            <div class="title">{{$t('message.latest_form_number_of_showing')}}</div>
            <div class="content">{{latestNewsField.displayNumber}}</div>
          </div>
        </div>
      </div>
      <div class="latestNews-wrap important-news">
        <h3>{{$t('message.latest_hot_news')}}</h3>
        <div class="row">
          <div class="title">{{$t('message.latest_hot_news_show_or_not_show')}}</div>
          <div class="content">
            <div class="switch-wrap">
              <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitch" v-model="hotNewsField.turnOn">
                <label class="onoffswitch-label" for="onoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="title">{{$t('message.latest_hot_news_message_select')}}</div>
          <div class="content">
            <div class="select-wrap">
              <select v-model="hotNewsField.newsID">
                <option value="">{{$t('message.select_options')}}</option>
                <option v-for="(latestNews, index) in latestNewsList" :value="latestNews.uuid">{{latestNews.local.title}}
              </select>
            </div>
          </div>
        </div>
        <div class="button-frame">
          <button @click="updateHotnewSetting()">
            <img src="../img/icon/edit.svg"/>{{$t('message.btn_update')}}
          </button>
        </div>
      </div>
      <div v-for="(latestNews, index) in latestNewsList" class="latestNews-wrap">
        <div class="button-wrap">
          <button @click="updateNews(latestNews)"><img src="../img/icon/edit.svg"/></button>
          <button @click="deleteNews(latestNews)"><img src="../img/icon/delete.svg"/></button>
        </div>
        <div class="tag-wrap">
          <button @click="changeTag(latestNews, 'local')" :class="[latestNews.tag === 'local'? 'taged': '']">{{$t('message.tag_chinese')}}</button>
          <button @click="changeTag(latestNews, 'en')" :class="[latestNews.tag === 'en'? 'taged': '']">{{$t('message.tag_english')}}</button>
        </div>
        <div class="multi-lang-field" v-bind:class="{ expand: latestNews.expand}" v-if="latestNews.tag === 'local'">
          <div class="row">
            <div class="title">{{$t('message.latest_publish_title')}}</div>
            <div class="content">{{latestNews.local.title}}</div>
          </div>
          <div class="row">
            <div class="title">{{$t('message.latest_publish_content')}}</div>
            <div class="content" v-html="latestNews.local.content"></div>
          </div>
        </div>
        <div class="multi-lang-field" v-bind:class="{ expand: latestNews.expand}" v-else-if="latestNews.tag === 'en'">
          <div class="row">
            <div class="title">{{$t('message.latest_publish_title')}}</div>
            <div class="content">{{latestNews.en.title}}</div>
          </div>
          <div class="row">
            <div class="title">{{$t('message.latest_publish_content')}}</div>
            <div class="content" v-html="latestNews.en.content"></div>
          </div>
        </div>
        <div class="common-field">
          <div class="row">
            <div class="title">{{$t('message.latest_publish_date')}}</div>
            <div class="content">{{latestNews.publishDate}}</div>
          </div>
        </div>
        <div class="toggle-wrap">
          <img v-if="latestNews.expand" @click="contentToggle(latestNews)" src="../img/icon/expand_less.svg" alt="less" title="less"/>
          <img v-else @click="contentToggle(latestNews)" src="../img/icon/expand_more.svg" alt="expand" title="expand"/>
        </div>
      </div>
    </div>
  </div>
  <div class="mask" id="fillForm" v-if="show" :class="{ show: show }">
    <div class="cover" @click="closeForm"></div>
    <div class="dialogue-message-frame">
      <div class="dialogue-head">
        <h4>{{headTitle}}</h4>
        <img src="../img/icon/closeWhite.svg"/ class="close" @click="closeForm">
      </div>
      <div class="dialogue-body" v-if="sendType === 'updateNewsField'">
        <div class="tag-wrap-s">
          <button @click="changeTag(newsField, 'local')" :class="[newsField.tag === 'local'? 'taged': '']">{{$t('message.tag_chinese')}}</button>
          <button @click="changeTag(newsField, 'en')" :class="[newsField.tag === 'en'? 'taged': '']">{{$t('message.tag_english')}}</button>
        </div>
        <div class="multi-lang-field">
          <div class="row" v-if="newsField.tag === 'local'">
            <div class="title">{{$t('message.latest_form_name')}}</div>
            <input type="text" v-model="newsField.bulletinTitle.local">
          </div>
          <div class="row" v-else-if="newsField.tag === 'en'">
            <div class="title">{{$t('message.latest_form_name')}}</div>
            <input type="text" v-model="newsField.bulletinTitle.en">
          </div>
        </div>
        <div class="common-field">
          <div class="row">
            <div class="title">{{$t('message.latest_form_number_of_showing')}}</div>
            <div class="content">
              <input type="number" v-model="newsField.displayNumber" min="1">
            </div>
          </div>
        </div>
        <div class="btn-frame">
          <button @click="sendFieldForm">{{$t('message.btn_update')}}</button>
        </div>
      </div>
      <div class="dialogue-body" v-else>
        <div class="tag-wrap-s">
          <button @click="changeTag(news, 'local')" :class="[news.tag === 'local'? 'taged': '']">{{$t('message.tag_chinese')}}</button>
          <button @click="changeTag(news, 'en')" :class="[news.tag === 'en'? 'taged': '']">{{$t('message.tag_english')}}</button>
        </div>
        <div class="multi-lang-field" v-show="news.tag === 'local'">
          <div class="row">
            <div class="title">{{$t('message.latest_publish_title')}}</div>
            <input type="text" v-model="news.local.title">
          </div>
          <div class="row">
            <div class="title">{{$t('message.latest_publish_content')}}</div>
            <textarea v-model="news.local.content" name="editor_local"></textarea>
          </div>
        </div>
        <div class="multi-lang-field" v-show="news.tag === 'en'">
          <div class="row">
            <div class="title">{{$t('message.latest_publish_title')}}</div>
            <input type="text" v-model="news.en.title">
          </div>
          <div class="row">
            <div class="title">{{$t('message.latest_publish_content')}}</div>
            <textarea v-model="news.en.content" name="editor_en"></textarea>
          </div>
        </div>
        <div class="btn-frame">
          <button @click="sendForm">
            <span v-if="type === 'addNews'">{{$t('message.btn_add')}}</span>
            <span v-else>{{$t('message.btn_update')}}</span>
          </button>
          <button @click="copy">{{$t('message.btn_copy')}}</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <img src="../img/logo_white.svg">
    <p>© 2020 EBSCO Industries, Inc. All rights reserved</p>
  </footer>
  <div id="dialogue" class="mask" v-if="show" :class="{ show: show }">
    <div class="cover" @click="closeDialogue"></div>
    <div class="dialogue-message-frame" v-if="type === 'logout'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_logout')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else-if="type === 'expired'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_expired')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else>
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="closeDialogue">
      </div>
      <div class="dialogue-body" v-if="type === 'deleteNews'">
        {{$t('message.dialogue_content_deleteNews')}}?
        <div class="btn-frame">
          <button @click="deleteNews">{{$t('message.btn_confirm')}}</button>
          <button @click="closeDialogue">{{$t('message.btn_cancel')}}</button>
        </div>
      </div>
      <div class="dialogue-body" v-else-if="type === 'addNews_success'">
        {{$t('message.dialogue_content_addSuccess')}}
        <div class="btn-frame">
          <button @click="closeDialogue">{{$t('message.btn_close')}}</button>
        </div>
      </div>
      <div class="dialogue-body" v-else-if="type === 'updateNews_success'">
        {{$t('message.dialogue_content_updateSuccess')}}
        <div class="btn-frame">
          <button @click="closeDialogue">{{$t('message.btn_close')}}</button>
        </div>
      </div>
      <div class="dialogue-body" v-else-if="type === 'deleteNews_success'">
        {{$t('message.dialogue_content_deleteSuccess')}}
        <div class="btn-frame">
          <button @click="closeDialogue">{{$t('message.btn_close')}}</button>
        </div>
      </div>
      <div class="dialogue-body" v-else>
        {{message}}
        <div class="btn-frame">
          <button @click="closeDialogue">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../lib/js/basicParameters.js"></script>
  <script src="../lib/js/verifyAuth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="../lang/lang.js?v=1.5"></script>
  <script src="../lib/js/jquery.js"></script>
  <script src="../lib/js/header_back.js"></script>
  <script type="text/javascript">
    function addNews() {
      fillForm.setDisplayForm('addNews');
    }
    function replaceCKEditor() {
      setTimeout(()=>{
        CKEDITOR.replace( 'editor_en' );
        CKEDITOR.replace( 'editor_local' );
      }, 500);
    }
    function setEditorData_en() {
      let localeData = CKEDITOR.instances.editor_local.getData();
      CKEDITOR.instances.editor_en.setData(localeData);
    }
    function getEditorData(type) {
      // remove script tags
      const pattern = /<script([\S\s]*?)>([\S\s]*?)<\/script>/ig;
      const regExp = new RegExp(pattern, 'i');

      let editorData;
      if(type === 'en') {
        editorData = CKEDITOR.instances.editor_en.getData();
      } else if(type === 'local') {
        editorData = CKEDITOR.instances.editor_local.getData();
      }

      let processData = editorData.replace(pattern, "");
      return processData;
    }

    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: ''
      },
      mounted: function() {
        this.selector_lang = i18n.locale;
      },
      methods: {
        setLang(event) {
          i18n.locale = event.target.value;
          localStorage.setItem('lang', event.target.value);
          header.setLocale(event.target.value);
        }
      }
    })
    var dataList = new Vue({
      el:'#latestNewsListField',
      i18n,
      data: {
        latestNewsField: {
          bulletinTitle: {
            'en': '',
            'local': '',
          },
          displayNumber: 0,
          tag: 'local'
        },
        hotNewsField: {
          turnOn: false,
          newsID: ''
        },
        latestNewsList: [],
        settings: {
          localization: false
        }
      },
      created: function() {
        this.getLatestNewsListInfo();
      },
      methods:{
        contentToggle(Obj) {
          Obj.expand = !Obj.expand;
        },
        changeTag(Obj, type) {
          Obj.tag = type;
        },
        getLatestNewsListInfo: function() {
          let self = this;
          $.ajax({
            url: `${apiPath}/getLatestNews.php`,
            type: 'GET',
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              self.latestNewsField.bulletinTitle.en = res.bulletinTitle.en;
              self.latestNewsField.bulletinTitle.local = res.bulletinTitle.local;
              self.latestNewsField.displayNumber = res.displayNumber;

              self.hotNewsField = res.hotNews;

              let temp_newsList = res.newsList.slice().sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
              for(let index in temp_newsList) {
                temp_newsList[index]['tag'] = 'local';
                temp_newsList[index]['expand'] = false;
              }
              self.latestNewsList = temp_newsList;
            }
          });
        },
        updateNewsField: function() {
          fillForm.setDisplayForm('updateNewsField', this.latestNewsField);
        },
        updateNews: function(news) {
          fillForm.setDisplayForm('updateNews', news);
        },
        deleteNews: function(news) {
          dialogue.setDialogue('deleteNews', news);
        },
        updateHotnewSetting: function() {
          console.log(this.hotNewsField);
          let self = this;
          $.ajax({
            url: `${apiPath}/processLatestNews.php`,
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            data: {
              type: 'hotNewsField',
              processData: JSON.stringify(self.hotNewsField)
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              dialogue.setDialogue('updateNews_success');
              this.getLatestNewsListInfo();
            }
          });
        }
      }
    });
    var fillForm = new Vue({
      el:'#fillForm',
      i18n,
      data: {
        show: false,
        headTitle: '',
        btnName: '',
        sendType: '',
        news: '',
        template_newsField: {
          'en': {
            "title": "",
            "content": ""
          },
          'local': {
            "title": "",
            "content": ""
          },
          'tag': 'local'
        },
        newsField: {
          'en': '',
          'local': '',
          'tag': ''
        }
      },
      methods:{
        copy() {
          this.news.en = JSON.parse(JSON.stringify(this.news.local));
          setEditorData_en();
        },
        changeTag(Obj, type) {
          Obj.tag = type;
        },
        setDisplayForm: function(type, data = '') {
          if(type === 'updateNews') {
            this.btnName = '修改';
            this.headTitle = '修改內容';
            this.news = JSON.parse(JSON.stringify(data));
            replaceCKEditor();
          } else if(type === 'addNews') {
            this.btnName = '新增';
            this.headTitle = '新增最新消息';
            this.news = JSON.parse(JSON.stringify(this.template_newsField));
            replaceCKEditor();
          } else if (type === 'updateNewsField') {  // done
            this.btnName = '修改';
            this.headTitle = '修改內容';
            this.newsField = JSON.parse(JSON.stringify(data));
          }
          this.show = true;
          this.sendType = type;
        },
        sendFieldForm: function() {
          let self = this;
          let sentData = JSON.stringify(self.newsField);

          $.ajax({
            url: `${apiPath}/processLatestNews.php`,
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            data: {
              type: self.sendType,
              processData: sentData
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              if(res.status === "expired") {
                dialogue.setDialogue('expired', 'expired');
              } else {
                dataList.getLatestNewsListInfo();
                self.closeForm();
                let dialogueType = `${self.sendType}_success`;
                dialogue.setDialogue(dialogueType);
              }
            }
          });
        },
        sendForm: function() {
          // get the CKEditor data
          this.news.en.content = getEditorData('en');
          this.news.local.content = getEditorData('local');

          let newsData = JSON.stringify(this.news);
          let self = this;

          $.ajax({
            url: `${apiPath}/processLatestNews.php`,
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            data: {
              type: self.sendType,
              processData: newsData
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              if(res.status === "expired") {
                dialogue.setDialogue('expired', 'expired');
              } else {
                dataList.getLatestNewsListInfo();
                self.closeForm();
                let dialogueType = `${self.sendType}_success`;
                dialogue.setDialogue(dialogueType);
              }
            }
          });
        },
        closeForm: function() {
          this.show = false;
        }
      }
    });

    var dialogue = new Vue({
      el:'#dialogue',
      i18n,
      data: {
        status: '',
        show: false,
        type: '',
        title: 'title',
        message: 'content',
        newsTitle: '',
        news: ''
      },
      methods:{
        setDialogue: function(type = '', news = '') {
          this.type = type;
          switch (type) {
            case 'deleteNews':
              this.newsTitle = news.title;
              this.news = JSON.stringify(news);
              break;
            case 'updateNewsField_success':
              this.title = 'Message';
              this.message = 'Modified';
              break;
            case 'deleteNews_success':
              this.title = 'Message';
              this.message = 'Deleted';
              break;
          }
          this.show = true;
        },
        deleteNews: function() {
          let self = this;
          $.ajax({
            url: `${apiPath}/processLatestNews.php`,
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            data: {
              type: 'deleteNews',
              processData: self.news
            },
            error: function(jqXHR, exception) {
              //use url variable here
              console.log(jqXHR);
              console.log(exception);
            },
            success: function(res) {
              if(res.status === "expired") {
                dialogue.setDialogue('expired', 'expired');
              } else {
                dataList.getLatestNewsListInfo();
                self.setDialogue('deleteNews_success');
              }
            }
          });
        },
        backToLogin: function() {
          window.location.replace(backStagePath);
        },
        closeDialogue: function() {
          this.show = false;
        }
      }
    });
  </script>
</body>
</html>
