<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>身份設定</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/manageAuth.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
	   <a href="#">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
     </a>
    </div>
    <nav>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag" v-if="lang === 'en'">{{link.title.en}}</a>
            <a :href="link.link" class="nav-tag" v-else-if="lang === 'local'">{{link.title.local}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index" v-if="lang === 'en'">{{link.title.en}}</label>
            <label class="nav-tag" :for="'tag'+index" v-else-if="lang === 'local'">{{link.title.local}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link" v-if="lang === 'en'">{{childLink.title.en}}</a>
                <a :href="childLink.link" v-if="lang === 'local'">{{childLink.title.local}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a class="nav-tag" @click="logout">{{$t('message.header_logout')}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_subject')"></h1>
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <div class="container" id="roleField">
      <section>
        <div class="row">
          <div class="title">身份驗證功能</div>
          <div class="content">
            <div class="switch-wrap">
              <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" id="onoffswitch" v-model="settings.featureEnabled" @change="checkFeatureEnabled($event)">
                <label class="onoffswitch-label" for="onoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <ul>
          <li v-for="department_L1 in departmentData" class="level-1">
            <div class="row">
              <input type="text" v-model="department_L1.displayName" @change="updateRefDepartmentList(department_L1)">
              <div class="icon-wrap">
                <div class="icon-frame">
                  <img src="../img/icon/add.svg" @click="addIdentity(departmentData)"/>
                </div>
                <div class="icon-frame" v-if="department_L1.child.length === 0">
                  <img src="../img/icon/delete.svg" @click="deleteIdentity('root', department_L1, 'department')"/>
                </div>
              </div>
            </div>
            <ul v-if="department_L1.child.length > 0">
              <li v-for="department_L2 in department_L1.child" class="level-2">
                <div class="row">
                  <input type="text" v-model="department_L2.displayName" @change="updateRefDepartmentList(department_L1)">
                  <div class="icon-wrap">
                    <div class="icon-frame">
                      <img src="../img/icon/add.svg" @click="addIdentity(department_L1)"/>
                    </div>
                    <div class="icon-frame" v-if="department_L2.child.length === 0">
                      <img src="../img/icon/delete.svg" @click="deleteIdentity(department_L1, department_L2, 'department')"/>
                    </div>
                  </div>
                </div>
                <ul v-if="department_L2.child.length > 0">
                  <li v-for="department_L3 in department_L2.child" class="level-3">
                    <div class="row">
                      <input type="text" v-model="department_L3.displayName" @change="updateRefDepartmentList(department_L3)">
                      <div class="icon-wrap">
                        <div class="icon-frame">
                          <img src="../img/icon/delete.svg" @click="deleteIdentity(department_L2, department_L3, 'department')"/>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="setting-wrap">
        <ul>
          <li v-for="identity in identityData" class="level-1">
            <div class="row">
              <input type="text" v-model="identityData.displayName" @change="updateRefIdentityList(department_L1)">
              <div class="icon-wrap">
                <div class="icon-frame">
                  <img src="../img/icon/add.svg" @click="addIdentity(departmentData)"/>
                </div>
                <div class="icon-frame" v-if="department_L1.child.length === 0">
                  <img src="../img/icon/delete.svg" @click="deleteIdentity('root', department_L1, 'department')"/>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div v-for="identity in identityData">
          <input type="text" v-model="identity.displayName">
        </div>
      </section>
      <div>
        <button @click="updateToServer()">Update</button>
      </div>
    </div>
  </div>
  <footer class="footer">
    <img src="../img/logo_white.svg">
    <p>© 2020 EBSCO Industries, Inc. All rights reserved</p>
  </footer>
</body>
</html>
<!-- <script src="../lib/js/verifyAuth.js"></script> -->
<script src="../lib/js/basicParameters.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
<script src="../lang/lang.js"></script>
<script src="../lib/js/jquery.js"></script>
<script src="../lib/js/header_back.js"></script>
<script type="text/javascript">
  var mainTitle = new Vue({
    el:'#mainTitle',
    i18n,
    data: {
      selector_lang: ''
    },
    mounted: function() {
      this.selector_lang = i18n.locale;
    },
    methods: {
      setLang(event) {
        i18n.locale = event.target.value;
        localStorage.setItem('lang', event.target.value);

        subjectField.setLocale(event.target.value);
        header.setLocale(event.target.value);
      }
    }
  })
  var roleField = new Vue({
    el:'#roleField',
    i18n,
    data: {
      settings: {
        featureEnabled: false
      },
      departmentData: [],
      identityData: [],
      ref_list: []
    },
    created: function() {
      let self = this;
      $.ajax({
        url: `${apiPath}/getAuthList.php`,
        type: 'GET',
        error: function(jqXHR, exception) {
          //use url variable here
          console.log(jqXHR);
          console.log(exception);
        },
        success: function(response) {
          self.addResult(response);
        }
      });
      $.ajax({
        url: `${apiPath}/getAuthIdentityList.php`,
        type: 'GET',
        error: function(jqXHR, exception) {
          //use url variable here
          console.log(jqXHR);
          console.log(exception);
        },
        success: function(response) {
          self.ref_list = response;
        }
      });
    },
    mounted: function () {
    },
    methods:{
      addIdentity(Obj_parent) {
        alert('no yet');
      },
      deleteIdentity(Obj_parent, Obj_child, field = null) {
        let position = 0;
        if(Obj_parent === 'root' && field === 'department') {
          for(index in this.departmentData) {
            if(this.departmentData[index].value === Obj_child.value) {
              position = index;
              break;
            }
          }
          this.departmentData.splice(position, 1);
        } else if(Obj_parent === 'root' && field === 'identity') {
          // for(index in this.departmentData) {
          //   if(this.departmentData[index].value === Obj_child.value) {
          //     position = index;
          //     break;
          //   }
          // }
          // this.departmentData.splice(position, 1);
        } else {
          for(index in Obj_parent.child) {
            if(Obj_parent.child[index].value === Obj_child.value) {
              position = index;
              break;
            }
          }
          Obj_parent.child.splice(position, 1);
          this.deleteInRefList()
        }
        this.deleteInRefList(Obj_child.value, field);
      },
      deleteInRefList(number, part) {
        let position = 0;

        if(part === 'department') {
          for(index in this.ref_list.userDepartment) {
            if(this.ref_list.userDepartment[index].id.toString() === number.toString()) {
              position = index;
              break;
            }
          }
          this.ref_list.userDepartment.splice(position, 1);
        } else if(part === 'identity') {

        }
      },
      updateToServer() {
        console.log(this.ref_list);
      },
      updateRefDepartmentList(Obj) {
        for(index in this.ref_list.userDepartment) {
          if(String(Obj.value) === String(this.ref_list.userDepartment[index].id)) {
            this.ref_list.userDepartment[index].value = Obj.displayName;
            break;
          }
        }
      },
      updateRefIdentityList(Obj) {
        // console.log(this.ref_list.userDepartment);
        for(index in this.ref_list.userIdentity) {
          if(String(Obj.value) === String(this.ref_list.userIdentity[index].id)) {
            this.ref_list.userIdentity[index].value = Obj.displayName;
            break;
          }
        }
      },
      checkFeatureEnabled(event) {
        let self = this;
        $.ajax({
          url: `${apiPath}/processAuth.php`,
          type: 'POST',
          xhrFields: {
            withCredentials: true
          },
          data: {
            type: 'updateSetting',
            processData: JSON.stringify(self.settings)
          },
          error: function(jqXHR, exception) {
            //use url variable here
            console.log(jqXHR);
            console.log(exception);
          },
          success: function(response) {
            console.log(response);
          }
        });
      },
      addResult(result) {
        this.departmentData = result.department;
        this.identityData = result.identity;
        this.settings = result.settings;
      }
    }
  });
</script>
