<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>使用率報表</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/usageReport.css"/>
  </head>
<body>
  <header id="header">
    <div class="logo">
      <img src="../img/logo.png" alt="EBSCO" title="EBSCO"/>
    </div>
    <nav>
      <label for="mobile_btn" class="mobile-btn-frame">
        <img src="../img/icon/dehaze.svg"/>
      </label>
      <input type="checkbox" id="mobile_btn">
      <ul class="nav-list">
        <li v-for="(link, index) in links" v-bind:class="{ multi: link.child.length != 0}">
          <div v-if="link.child.length === 0">
            <a :href="link.link" class="nav-tag">{{link.title}}</a>
          </div>
          <div v-else>
            <label class="nav-tag" :for="'tag'+index">{{link.title}}</label>
            <input type="checkbox" :id="'tag'+index">
            <ul>
              <li v-for="(childLink, c_index) in link.child">
                <a :href="childLink.link">{{childLink.title}}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a class="nav-tag" @click="logout">{{$t('message.header_logout')}}</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="app-content">
    <div id="mainTitle" class="mainTitle">
      <h1 v-text="$t('message.h1_clickingReport')"></h1>
      <div class="lang-wrap">
        <div>{{$t('message.chooseLanguage')}}:</div>
        <select v-model="selector_lang" @change="setLang($event)">
          <option value="en">English</option>
          <option value="local">中文</option>
        </select>
      </div>
    </div>
    <section id="reportTable" class="report-wrap">
      <div class="search-wrap">
        <div class="date-wrap">
          <div class="title">{{$t('message.clickingReport_start_date')}}: </div>
          <input type="date" v-model="searchRange.startDate">
        </div>
        <div class="date-wrap">
          <div class="title">{{$t('message.clickingReport_end_date')}}: </div>
          <input type="date" v-model="searchRange.endDate">
        </div>
        <div class="date-wrap">
          <div class="title">{{$t('message.clickingReport_display_by')}}: </div>
          <select v-model="searchRange.type">
            <option value="day">{{$t('message.clickingReport_day')}}</option>
            <option value="month">{{$t('message.clickingReport_month')}}</option>
          </select>
        </div>
        <div class="date-wrap">
          <button @click="search()">{{$t('message.btn_search')}}</button>
        </div>
      </div>
      <div class="report-list-wrap">
        <div class="loading-frame" v-if="searching">
          <img src="../img/icon/Spinner.svg" alt="loading" title="loading" class="icon-loading"/>
        </div>
        <div class="report-list" v-if="reportData.length !== 0">
          <div class="btn-report-wrap">
            <button @click="generateCsvFile">{{$t('message.clickingReport_download_the_report')}}</button>
          </div>
          <div class="row" v-for="(data, index) in reportData" v-if="data.total > 0">
            <div class="title">{{data.date}}</div>
            <div class="content">
              <div v-for="(item, index) in data.clickedList" class="list-frame" v-if="item.clickTimes > 0">
                <div class="list-title">{{item.name}}</div>
                <div class="list-content">{{item.clickTimes}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="dialogue" class="mask" v-if="show" :class="{ show: show }">
    <div class="dialogue-message-frame" v-if="type === 'logout'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_logout')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
    <div class="dialogue-message-frame" v-else-if="type === 'expired'">
      <div class="dialogue-head">
        <h4>{{$t('message.dialogue_title_info')}}</h4>
        <img src="../img/icon/closeWhite.svg" class="close" @click="backToLogin()">
      </div>
      <div class="dialogue-body">
        {{$t('message.dialogue_content_expired')}}
        <div class="btn-frame">
          <button @click="backToLogin()">{{$t('message.btn_close')}}</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../lib/js/verifyAuth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.15.3/vue-i18n.min.js"></script>
  <script src="../lang/lang.js"></script>
  <script src="../lib/js/jquery.js"></script>

  <script src="../lib/js/header_back.js"></script>

  <script type="text/javascript">
    var mainTitle = new Vue({
      el:'#mainTitle',
      i18n,
      data: {
        selector_lang: ''
      },
      mounted: function() {
        console.log(i18n.locale)
        this.selector_lang = i18n.locale;
      },
      methods: {
        setLang(event) {
          i18n.locale = event.target.value;
          localStorage.setItem('lang', event.target.value);
          header.setLocale(event.target.value);
        }
      }
    })
    var reportTable = new Vue({
      el:'#reportTable',
      i18n,
      data: {
        searching: false,
        searchRange: {
          type: 'day',
          startDate: '',
          endDate: ''
        },
        reportData: []
      },
      computed: {
        selector_years: {
          get: function () {
            let startYear = 1990;
            let array_year = [];

            let currentDate = new Date();
            let currentYear = currentDate.getFullYear();

            for(startYear; startYear <= currentYear; startYear++) {
              array_year.push(startYear);
            }
            return array_year;
          }
          // ,set: function () {
          // }
        }
      },
      methods:{
        generateCsvFile() {
          let prefix = 'data:text/csv;charset=utf-8,';
          let ary_date = [];
          let ary_row = [];
          let string_metadata = " "; // first cell empty
          let string_content = "";
          let universalBOM = "\uFEFF";

          let now = new Date();

          let reportType = '';
          if(this.searchRange.type === 'day') {
            reportType = 'Daily';
          } else {
            reportType = 'Monthly';
          }

          let fileName = `${now.getFullYear()}-${now.getMonth()+1}-${now.getDate()} ${reportType} Report`;

          // create data array and metadata.
          this.reportData.forEach(row => {
            string_metadata = `${string_metadata},${row.date}`;
            ary_date.push(row.date);
            row['clickedList'].forEach(list => {
              if(list.name in ary_row) {
                ary_row[list.name][row.date] = list.clickTimes;
              } else {
                ary_row[list.name] = [];
                ary_row[list.name][row.date] = list.clickTimes;
              }
            })
          });
          string_metadata = `${string_metadata}\n`;

          // create content
          Object.keys(ary_row).forEach(key => {
            let string_row = key.replace(/,/g, "");
            ary_date.forEach(date => {
              string_row = `${string_row},${ary_row[key][date]}`;
            })
            string_content = `${string_content}${string_row}\n`;
          })
          
          const csv = `${string_metadata}${string_content}`;

          // create hidden anchor and click it
          let hiddenElement = document.createElement('a');
          hiddenElement.href = prefix + encodeURIComponent(universalBOM+csv);
          hiddenElement.target = '_blank';
          hiddenElement.download = `${fileName}.csv`;
          hiddenElement.click();
        },
        search: function() {
          this.reportData = [];
          this.searching = true;

          if(this.searchRange.startDate !== '' && this.searchRange.endDate !== '') {
            let self = this;
            $.ajax({
              url: 'https://gss.ebscohost.com/chchang/ServerConnect/databaseList/features/processLogReport.php',
              type: 'GET',
              data: {
                'searchRange': JSON.stringify(self.searchRange)
              },
              error: function(jqXHR, exception) {
                //use url variable here
                console.log(jqXHR);
                console.log(exception);
                self.searching = false;
              },
              success: function(res) {
                if(res.status === 'expired') {
                  dialogue.setDialogue('expired', 'expired');
                } else if(res.status === 'success'){
                  Object.keys(res.report).forEach(function(key){
                    let tempReportData = {
                      date: key,
                      clickedList: [],
                      total: res.report[key].total
                    }

                    if(!Array.isArray(res.report[key])){
                      Object.keys(res.report[key]).forEach(function(item){
                        if(item !== 'total') {
                          tempReportData.clickedList.push(res.report[key][item]);
                        }
                      })
                    }
                    self.reportData.push(tempReportData);
                  });
                  self.searching = false;
                }
              }
            });
          } else {
            this.searching = false;
          }
        }
      }
    });
    var dialogue = new Vue({
      el:'#dialogue',
      i18n,
      data: {
        show: false,
        type: ''
      },
      methods:{
        setDialogue: function(type = '', news = '') {
          this.type = type;
          this.show = true;
        },
        backToLogin: function() {
          window.location.replace("https://gss.ebscohost.com/chchang/ServerConnect/databaseList/admin/");
        },
        closeDialogue: function() {
          this.show = false;
        }
      }
    });
  </script>
</body>
</html>